<!DOCTYPE html>
<html>
<head>
<title>Understanding Society - Styleguide</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<!-- <header role="banner">
<nav role="navigation">
<ol>
<li><a class="active" href="#">About the study</a></li>
<li><a href="#">News</a></li>
<li><a href="#">Participants</a></li>
<li><a href="#">Research, findings and impact</a></li>
<li><a href="#">Data and documentation</a></li>
<li><a href="#">Contact</a></li>
</ol>
</nav>
</header> -->

<div class="container">
<section>
<h1>Typography</h1>

<hr>
<h2>Headings</h2>
<h1>h1.heading</h1>
<h1>h1.heading<span>span. subheading text here</span></h1>
<h1>h1.heading<span class="inline"> span. inline</span></h1>
<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit</p>
<h2>h2.heading<span>span. subheading text here</span></h2>
<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit</p>
<h3>h3.heading<span>span. subheading text here</span></h3>
<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit</p>
<h4>h4.heading</h4>
<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit</p>
<h5>h5.heading</h5>
<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit</p>
<h6>h6.heading</h6>
<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit</p>
<hr>
<h2>Body Copy</h2>
<p class="subheading">P SUBHEADING Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. <a href="#">Duis aute irure dolor</a> in reprehenderit.</p>

<p class="italic">P ITALIC Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.</p>

<p class="heading">Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p class="subheading lead">Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<hr>

<h2>Emphasis</h2>
<p>Make use of HTML's default emphasis tags with lightweight styles.</p>

<h3>Small text</h3>

<small>This is an example of some small text.</small>

<h3>Bold</h3>
<p>The following snippet of text is <strong>rendered as bold text.</strong></p>

<h3>Italic</h3>
<p>The following snippet of text is <em>rendered as italic text.</em></p>

<h3>Abbreviation</h3>
<p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>

<h3>Alignment</h3>
Realign text to components with text alignment classes.
<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>

<h3>Emphasise text using colour</h3>
<p class="text-muted">Duis aute irure dolor in reprehenderit in voluptate</p>
<p class="text-success">Duis aute irure dolor in reprehenderit in voluptate</p>
<p class="text-info">Duis aute irure dolor in reprehenderit in voluptate</p>
<p class="text-warning">Duis aute irure dolor in reprehenderit in voluptate</p>
<p class="text-danger">Duis aute irure dolor in reprehenderit in voluptate</p>



<h2>Quotes</h2>
<h3>Normal blockquote</h3>

<blockquote>
<p>“quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.”</p>
</blockquote>

<h3>Blockquote options</h3>
<p>Can name a source</p>
<blockquote>
<p>“quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.”</p>
<!-- <small>Someone famous in <cite title="Source Title">Source Title</cite></small> -->
</blockquote>
</blockquote>



<hr>
<h3>Pull quote</h3>
<blockquote class="pullquote">
  <p>“Ligula egestas leo, <a href="#">fugiat nulla pariatur</a> at interdum leo ante ut risus.”
  <b>—Joe Bloggs</b></p>
</blockquote>

<p>“quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.”</p>

<p>“quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.”</p>

<p>“quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.”</p>

<p class="highlight">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit.</p>

<p>“quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.”</p>

<p class="highlight left">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure.</p>

<p>“quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.”</p>

<p>“quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.”</p>

<blockquote class="pullquote left">
  <p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In accumsan diam itae velit. Aliquam vehicula”<br />
  <b>—Joe Bloggs</b></p>
</blockquote>

<p>“quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.”</p>

<hr>

<h2>Blog Posts</h2>
<div class="span14 blog">
<section id="posts">
<article>
<header><time datetime="2013-02-19">19 Feb 2013</time></header>
<h2><a href="/2013/02/19/the-challenges-of-mixing-interview-modes"> The challenges of mixing interview&nbsp;modes</a></h2>
<a href="/2013/02/19/the-challenges-of-mixing-interview-modes"><img alt="8349232606 dee056ca56" src="/system/posts/thumbnail_images/000/000/106/original/8349232606_dee056ca56.jpg?1360485523" width="50px"></a>
<p><a href="/about/innovation-panel">Innovation Panel</a> experiment looks at the effects of mixed modes on drop-out rates.</p>
</article>
<article>
<header><time datetime="2013-02-17">17 Feb 2013</time></header>
<h2><a href="/2013/02/17/three-senior-research-posts"> Three senior research posts&nbsp;</a></h2>
<a href="/2013/02/17/three-senior-research-posts"><img alt="Ukhls branded thumb" src="/system/posts/thumbnail_images/000/000/112/original/ukhls-branded-thumb.jpg?1360996838" width="50px"></a>
<p>The Consumer Association, </p>
</article>
<article>
<header><time datetime="2013-02-14">14 Feb 2013</time></header>
<h2><a href="/2013/02/14/majority-of-women-find-their-partner-irritating"> Majority of women find their partner&nbsp;irritatingMajority of women find their partner&nbsp;irritatingMajority of women find their partner&nbsp;irritating</a></h2>
<a href="/2013/02/14/majority-of-women-find-their-partner-irritating"><img alt="2263586109 d6bf6e3437" src="/system/posts/thumbnail_images/000/000/111/original/2263586109_d6bf6e3437.jpg?1360824433" width="50px"></a>
<p>Survey  also suggests couples share worries and rely on each other  Which? blogs about research it commissioned using Understanding Society to look at the links between sleep and poor perceptions of health </p>
</article>
<article>
<header><time datetime="2013-02-17">17 Feb 2013</time></header>
<h2><a href="/2013/02/17/three-senior-research-posts"> Three senior research posts&nbsp;</a></h2>
<a href="/2013/02/17/three-senior-research-posts"><img alt="Ukhls branded thumb" src="/system/posts/thumbnail_images/000/000/112/original/ukhls-branded-thumb.jpg?1360996838" width="50px"></a>
<p>The Consumer Association, </p>
</article>
<article>
<header><time datetime="2013-02-14">14 Feb 2013</time></header>
<h2><a href="/2013/02/14/majority-of-women-find-their-partner-irritating"> Majority of women find their partner&nbsp;irritatingMajority of women find their partner&nbsp;irritatingMajority of women find their partner&nbsp;irritating</a></h2>
<a href="/2013/02/14/majority-of-women-find-their-partner-irritating"><img alt="2263586109 d6bf6e3437" src="/system/posts/thumbnail_images/000/000/111/original/2263586109_d6bf6e3437.jpg?1360824433" width="50px"></a>
<p>Survey  also suggests couples share worries and rely on each other  Which? blogs about research it commissioned using Understanding Society to look at the links between sleep and poor perceptions of health </p>
</article>
</div>


<hr>

<h2> Working Papers</h2>

<h2 class="section"> 2013</h2>
<div class="year">

<article class="publication">
<p class="series">Understanding Society Working Paper Series: <strong>2013-08</strong></p>
<h4><a href="/research/publications/working-paper/understanding-society/2013-08"> 
Britishness and Identity Assimilation among the UK’s Minority and Majority Ethnic&nbsp;Groups
</a></h4>
<ol class="people"><li> Alita Nandi</li><li> Lucinda Platt</li></ol><p>Published: 18 December 2013</p>
</article>

<article class="publication">
<p class="series">Understanding Society Working Paper Series: <strong>2012-01</strong></p>
<h4><a href="/research/publications/working-paper/understanding-society/2012-01"> 
UKHLS Innovation Panel household wealth questions: preliminary&nbsp;analysis
</a></h4>
<ol class="people"><li> S.C. Noah Uhrig</li><li> Mark L. Bryan</li><li> Sarah Budd</li></ol><p>Published: 25 January 2012</p>
</article>


</div>
<h2 class="section"> 2011</h2>
<div class="year">

<article class="publication">
<p class="series">Understanding Society Working Paper Series: <strong>2011-06</strong></p>
<h4><a href="/research/publications/working-paper/understanding-society/2011-06"> 
The effect of a mixed mode wave on subsequent attrition in a panel survey: evidence from the Understanding Society Innovation&nbsp;Panel
</a></h4>
<ol class="people"><li> Peter Lynn</li></ol><p>Published: 05 December 2011</p>
</article>


<article class="publication">
<p class="series">Understanding Society Working Paper Series: <strong>2011-01</strong></p>
<h4><a href="/research/publications/working-paper/understanding-society/2011-01"> 
Geographical identifiers in Understanding Society Version&nbsp;1
</a></h4>
<ol class="people"><li> Birgitta Rabe</li></ol><p>Published: 09 March 2011</p>
</article>


</div>
<h2 class="section"> 2010</h2>
<div class="year">

<article class="publication">
<p class="series">Understanding Society Working Paper Series: <strong>2010-05</strong></p>
<h4><a href="/research/publications/working-paper/understanding-society/2010-05"> 
Weighting strategy for Understanding&nbsp;Society
</a></h4>
<ol class="people"><li> Peter Lynn</li><li> Olena Kaminska</li></ol><p>Published: 18 November 2010</p>
</article>


<article class="publication">
<p class="series">Understanding Society Working Paper Series: <strong>2010-02</strong></p>
<h4><a href="/research/publications/working-paper/understanding-society/2010-02"> 
Continuity and innovation in the design of Understanding Society: the UK Household Longitudinal&nbsp;Study
</a></h4>
<ol class="people"><li> Heather Laurie</li></ol><p>Published: 23 July 2010</p>
</article>


</div>

<hr>

<h2>Navigation</h2>


<nav class="related"><ul><li><a class="active" href="/news">All news</a></li><li><a class="" href="/news/findings" title="Latest findings ">Findings and impact</a></li><li><a class="" href="/news/survey-update" title="Survey developments and innovations ">Survey updates</a></li><li><a class="" href="/news/comment-and-analysis" title="Insights, observations and analysis">Blog article</a></li><li><a class="" href="/news/events" title="Training, conferences and workshops ">Events</a></li><li><a class="" href="/news/press-releases" title="Press releases issued to the media">Press releases</a></li><li><a class="" href="/news/in-the-news" title="Press and broadcast coverage">Media coverage</a></li></ul></nav>
<div id="twt"><iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-timeline twitter-timeline-rendered" style="border: none; max-width: 100%; min-width: 180px;" title="Twitter Timeline" width="225" height="600"></iframe></div>


<!-- <h2>Side bit</h2>
<div class="span6">

<div class="box pad space feature" data-no-turbolink="">
<ul>
<li><a href="https://www.understandingsociety.ac.uk/2013/11/18/cognitive-tests-and-big-5-traits">Latest data release</a><span>Cognitive tests &amp; personality traits: W3 available now</span></li>

<li><a href="https://www.understandingsociety.ac.uk/research-conference-2013">UKHLS Research Conference</a><span> News, views and presentations here
</span></li>
</ul>
</div>
</div>
-->
<hr>  

<h2>Callout</h2>

<p class="callout">CALLOUT. consequat. Duis aute irure <a href="#">fugiat nulla pariatur</a> dolor</p>
<p class="callout info">CALLOUT. consequat. Duis aute irure <a href="#">fugiat nulla pariatur</a> dolor</p>
<p class="callout alert">CALLOUT. consequat. Duis aute irure <a href="#">fugiat nulla pariatur</a> dolor</p>
<p class="callout note">CALLOUT. consequat. Duis aute irure <a href="#">fugiat nulla pariatur</a> dolor</p>
<div class="callout">
<ul>
  <li>Get an idea of <a href="/about/questionnaire-content">what we ask Participants about.</a></li>
  <li>Download the <a href="/d/18/Long_Term_Content_Plan_Nov2011-3.pdf?1355920157" onclick="_gaq.push(['_trackEvent', 'PDF', 'Download', '/d/18/Long_Term_Content_Plan_Nov2011-3.pdf?1355920157']);">long term content plan </a> outlining actual and planned questionnaire content for Waves 1-10.</li>
</ul>
</div>


<hr>

<h2>Lists</h2>

<h4>Unordered Lists</h4>
<p>Unordered lists, or bulleted lists, are used when a set of items can be placed in any order. An example is a shopping list:</p>

<ul>
  <li>bread</li>
  <li>coffee</li>
  <li>milk</li>
  <li>butter</li>
</ul>
<p>class block</p>
<ul class="block">
  <li>bread</li>
  <li>coffee</li>
  <li>milk</li>
  <li>butter</li>
</ul>

<h4>Ordered Lists</h4>
<p>Ordered lists, or numbered lists, are used to display a list of items that need to be placed in a specific order. An example would be cooking instructions, which must be completed in order for the recipe to work:</p>

<ol>
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
  <li>List item 4</li>
  <li>List item 5
    <ol>
      <li>Typography</li>
      <li>Grids</li>
      </ol>
    </li>
  <li>List item 6</li>
</ol>

<p>Comma sperate inline list</p>
<ol class="inline comma-separated">
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
  <li>List item 4</li>
  <li>List item 5</li>
</ol>

<h4>Definition</h4>
<p>Description lists associate specific names and their values within a list, for example items in an ingredient list and their descriptions, article metadata such as authors and categories and their values, or competition winners and the years in which they won.</p>

<dl>
  <dt>milk</dt>
  <dd>A white, liquid dairy product.</dd>
  <dt>bread</dt>
  <dd>A baked food made of flour or meal.</dd>
  <dt>butter</dt>
  <dd>A yellow, solid dairy product.</dd>
  <dt>coffee beans</dt>
  <dd>The seeds of the fruit from certain coffee trees.</dd>
</dl>


<hr>
<h2>Loading</h2>
<div id="loading">asdads
  </div>

<hr>
<h2>Search Results page</h2>
<article class="search-result"><h4><a href="/documentation/innovation-panel/dataset-documentation/wave/5/questionnaire-module/stablecontact_ip5#stablecontact_ip5.endint"> Innovation Panel question –&nbsp;stablecontact_ip5.endint</a></h4><cite>https://www.understandingsociety.ac.uk/documentation/innovation-panel/dataset-documentation/wave/5/questionnaire-module/stablecontact_ip5#stablecontact_ip5.endint</cite><p>That’s the end of the questionnaire. Thank you very much for your time. Your help is really valuable and will contribute to the success of Understanding Society.</p></article>
<article class="search-result"><h4><a href="/2013/01/22/funding-boost-secures-future-of-understanding-society"> Funding boost secures future of Understanding&nbsp;Society</a></h4><cite>https://www.understandingsociety.ac.uk/2013/01/22/funding-boost-secures-future-of-understanding-society</cite><p>Close to £25m of funding secured for Waves 6-8</p></article>
<article class="search-result"><h4><a href="/participants/faq/why-me"> Why me?</a></h4><cite>https://www.understandingsociety.ac.uk/participants/faq/why-me</cite><p>You and the people you live with were chosen from a scientifically selected sample of addresses, and your place in the survey can’t be taken by anyone else. We want to hear your point of view – without it, the survey will be missing an important…</p></article>
<article class="search-result"><h4><a href="/2013/05/24/conference-programme-available"> Conference programme online&nbsp;now</a></h4><cite>https://www.understandingsociety.ac.uk/2013/05/24/conference-programme-available</cite><p>Details of the parallel sessions that will run over three days of the conference are now available</p></article>


<hr>

<h2>Article with class event</h2>
<article class="event">
<h2><a href="/events/2014/01/16/ethnic-advantage-and-disadvantage"> New insights into ethnicity, social mobility and&nbsp;well-being</a></h2>
<p class="start_at">
16 Jan 2014
</p>
<p>The event will showcase the latest findings of the study and provide an opportunity for delegates to reflect on and discuss policy implications, thinking and future directions. The audience will comprise 50+ invited guests from a cross-section of policy roles in Government, regulatory bodies, NGOs and commerce.</p>
<p>The event will include a series of sessions on:</p>
<ul>
  <li>place (e.g. findings on same-ethnicity neighbourhoods)</li>
  <li>social mobility (e.g. evidence on the effects of recession)</li>
  <li>income trajectories (e.g. research on preparedness for retirement)</li>
</ul>
<p>Each session will feature a short paper from a lead researcher followed by a brief response from a research findings user.</p>
<p>Two key objectives of the event are, firstly, to develop the profile of Understanding Society as a tool for policy formulation, and secondly, to inform existing and emerging policy agendas such as the Coalition’s Integration Strategy.</p>
<p>
<a class="btn plain" href="/events/2014/01/16/ethnic-advantage-and-disadvantage">More information and register</a>
</p>
</article>
<article class="event">
<h2><a href="/events/2014/01/16/ethnic-advantage-and-disadvantage"> New insights into ethnicity, social mobility and&nbsp;well-being</a></h2>
<p class="start_at">
16 Jan 2014
</p>
<p>The event will showcase the latest findings of the study and provide an opportunity for delegates to reflect on and discuss policy implications, thinking and future directions. The audience will comprise 50+ invited guests from a cross-section of policy roles in Government, regulatory bodies, NGOs and commerce.</p>
<p>The event will include a series of sessions on:</p>
<ul>
  <li>place (e.g. findings on same-ethnicity neighbourhoods)</li>
  <li>social mobility (e.g. evidence on the effects of recession)</li>
  <li>income trajectories (e.g. research on preparedness for retirement)</li>
</ul>
<p>Each session will feature a short paper from a lead researcher followed by a brief response from a research findings user.</p>
<p>Two key objectives of the event are, firstly, to develop the profile of Understanding Society as a tool for policy formulation, and secondly, to inform existing and emerging policy agendas such as the Coalition’s Integration Strategy.</p>
<p>
<a class="btn plain" href="/events/2014/01/16/ethnic-advantage-and-disadvantage">More information and register</a>
</p>
</article>
<h2>Forms</h2>



      <form>
       <fieldset>
          <legend>Legend Name</legend>
             <p>Sed do eiusmod tempor incididunt ut <a href="#"><em>labore et dolore</em></a> magna aliqua. Ut enim ad minim veniam</p>
          <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="at least 3 characters" />
          </div>

          <div class="field">
            <label for="age">Age</label>
            <input type="text" name="age"/>
          </div>

          <div class="field">
            <label for="shoe">Shoe size <abbr title="Required">*</abbr></label>
            <input type="text" name="shoe" required />
          </div>

          <div class="field large">
            <label for="comment">Comments</label>
            <textarea></textarea>
          </div>



    <div class="field">
            <label for="nights">Nights</label>
            <input type="number" name="nights" value="1" min="1" max="30" required>
          </div>

          <div class="field">
            <label for="country">Country</label>
            <select name="country">
              <option value="" selected="selected">Select Country</option>
              <option value="United States">United States</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="Afghanistan">Afghanistan</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antarctica">Antarctica</option>
            </select>
          </div>

          <fieldset class="options">
          <legend>Checkbox <abbr title="Required">*</abbr></legend>
              <p>Default checkbox</p>
              <label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A</label>
              <label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Choice B</label>
              <label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Choice C</label>
              <p>Inline checkbox</p>
              <label for="inlinecheckbox1" class="checkbox inline"><input id="inlinecheckbox1" name="checkbox" type="checkbox" checked="checked"> Choice A</label>
              <label for="inlinecheckbox2" class="checkbox inline"><input id="inlinecheckbox2" name="checkbox" type="checkbox"> Choice B</label>
              <label for="inlinecheckbox3" class="checkbox inline"><input id="inlinecheckbox3" name="checkbox" type="checkbox"> Choice C</label>

          </fieldset>

          <fieldset class="options">
            <legend>Radios <abbr title="Required">*</abbr></legend>
              <p>Default radios</p>
              <label for="radio1"><input id="radio1" name="radio" type="radio" checked="checked"> Choice A</label>
              <label for="radio2"><input id="radio2" name="radio" type="radio"> Choice B</label>
              <label for="radio3"><input id="radio3" name="radio" type="radio"> Choice C</label>
              <p>Inline radios</p>
              <label for="inlineradio1" class="radio inline"><input id="inlineradio1" name="radio" type="radio" checked="checked"> Choice A</label>
              <label for="inlineradio2" class="radio inline"><input id="inlineradio2" name="radio" type="radio"> Choice B</label>
              <label for="inlineradio3" class="radio inline"><input id="inlineradio3" name="radio" type="radio"> Choice C</label>
          </fieldset>

          <div class="field control">
            <input type="submit" value="Save" class="btn btn-blue" /><a href="#">cancel</a>
          </div>

       </fieldset>
      </form>

<hr>
<h2>Items</h2>
<div class="item grey_gradient">
<h3> Key facts</h3>
<p>Description lists associate specific names and their values within a list, for example items in an ingredient list and their descriptions, article metadata such as authors and categories and their values, or competition winners and the years in which they won.</p>
<ul>
  <li>40,000 households – 2,640 postcode sectors in England, Scotland and Wales – 2,400 addresses from Northern Ireland</li>
  <li>£48.9 million funding (until 2015)</li>
  <li>Approximately 3 billion data points of information</li>
  <li><a href="/about/innovation-panel">Innovation Panel</a> of 1,500 respondents</li>
  <li>Participants aged 10 and older</li>
  <li>Building on <a href="/about/bhps-in-understanding-society">18 years of British Household Panel Survey</a></li>
  <li>35-60 minutes: the average time to complete each face to face interview</li>
</ul>
</div>


<hr>

<h2>Tables</h2>

<p><strong>Standard table (table)</strong></p>

<table class="table">
  <caption>This is a caption</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@TwBootstrap</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
              <tfoot>
          <tr>
              <th scope="col">1</th>
              <th scope="col">2</th>
              <th scope="col">3</th>
              <th scope="col">4</th>
          </tr>
      </tfoot>
        </tbody>
      </table>

  <p><strong>Striped table (table zebra)</strong></p>

      <table class="table zebra">
        <caption>This is a caption</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@TwBootstrap</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
        </tbody>
      </table>

  <p><strong>Striped table (table bordered)</strong></p>

<table class="table bordered">
  <caption>This is a caption</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@TwBootstrap</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

<p><strong><a href="https://www.understandingsociety.ac.uk/documentation/mainstage/dataset-documentation">Dividing borders only</a> (table divided)</strong></p>
<p>Includes colspans to fix the widths (<a href="http://jsfiddle.net/csswizardry/Df2tt/embedded/result%2Chtml%2Ccss/">see</a>)</p>
<table class="table divided grid">
  <tbody>
    <tr>
      <th colspan="6">Datafile</th>
      <th colspan="14">Description</th>
      <th colspan="4">Waves</th>
    </tr>
    <tr>
      <td colspan="6">adopt</td>
      <td colspan="14">Adopted and step-child information</td>
      <td colspan="4"><a href="#">1</a></td>
    </tr>
    <tr>
      <td colspan="6">callrec</td>
      <td colspan="14">Call records</td>
      <td colspan="4"><a href="#">1</a>, <a href="#">3</a></td>
    </tr>
    <tr>
      <td colspan="6">child</td>
      <td colspan="14">Childcare, consent</td>
      <td colspan="4"><a href="#">3</a></td>
    </tr>
  </tbody>
</table>

<hr>

<h2>Buttons</h2>


<p>Description lists associate specific names and their values within a list, for example items in an ingredient list and their descriptions, article metadata such as authors and categories and their values, or competition winners and the years in which they won.</p>

<h5>Standard Buttons</h5>

<p>Description lists associate specific names and their</p>

<button type="button" class="btn">Standard Button</button>

<h5>Sizes</h5>

<p>A button can have different sizes:</p>

<button type="button" class="btn small">Small Button</button>
<button type="button" class="btn">Standard Button</button>
<button type="button" class="btn large">Large Button</button>

<h5>Coloured Buttons</h5>

<p>Description lists associate specific names and their</p>

<button type="button" class="btn btn-yellow">Yellow Button</button>
<button type="button" class="btn btn-green">Green Button</button>
<button type="button" class="btn btn-blue">Blue Button</button>

<h5>Icon</h5>
<p>A button can have only an icon</p>
<button type="button" class="btn icon">
      <i class="fa fa-twitter"></i>
</button>




<h5>Circular</h5>
<p>A button can be circular:</p>
<button type="button" class="btn circular">Fluid Button</button>
<button type="button" class="btn circular icon">
      <i class="fa fa-cogs"></i>
</button>


<h5>Fluid</h5>
<p>A button can fit parent container:</p>
<button type="button" class="btn fluid">Fluid Button</button>

<p><i class="fa fa-user  fa-lg"></i> fa-camera-retro</p>

</section>
<aside class="nav styles">
  <nav class="nav guide">
   <ul>
      <li><a href = "#">Link</a></li>
    </ul>
  </div>
</aside>
</div>
Font awesome works: <i class="fa fa-camera-retro"></i>

<a href="#" id="show-grid" class="btn">Toggle grid</a>

</body>
</html>
