body header[role=banner]
{
  form#search
  {
    position: absolute;
    right: 0px;
    top: 58px;
    // @include respond-to(tablet) { outline: 1px solid red; display: none; left: 0px; padding: #{$gutter / 2}px 0 0 #{$gutter / 2}px; top: 0; @include mid_grey_gradient; border-bottom: 1px solid #cccccc;}

    @include respond-to(tablet) { top: -38px;}

    @include respond-to(handheld) { display: none; left: 0; padding: #{$gutter / 2}px 0 0 #{$gutter / 2}px; top: 0; @include mid_grey_gradient; border-bottom: 1px solid #cccccc;}


    input[type="search"]
    {
      padding-left: 28px;
      width: #{(($column_width * 6) + ($gutter * 5)) - 37}px;
      // @include respond-to(tablet) { width: #{($columns * $tablet_column_width * 6) + (($tablet_gutter * 5)) - 37}px; width: 80%;}
      @include respond-to(large_desktop) { width: #{(($large_desktop_column_width * 6) + ($large_desktop_gutter * 5)) - 37}px; }
      @include respond-to(handheld) { width: 85%; }
    }

    input[type="submit"]
    {
      position: absolute;
      top: 10px;
      left: 8px;
      height: 16px;
      width: 16px;
      background: transparent url(asset_path('search-icon.png')) no-repeat 0 0 ;
      border-style: none;
      display: block;
      cursor: pointer;
      text-indent: -3000em;
      overflow: hidden;
      // @include respond-to(tablet) { top: 17px; left: 15px; }
      @include respond-to(handheld) { top: 17px; left: 14px;}
    }
  }
  h1
  {
    padding: #{$gutter}px 0;
    @include respond-to(handheld) { padding: 0; }
    margin: 0;
    a
    {
      text-indent: -3000em;
      overflow: hidden;
      background: $white url(asset_path('ukhls-logo.gif')) no-repeat 0 0;
      @include image-2x(asset_path('ukhls-logo2x.gif'), 288px, 120px);
      display: block;
      width: 288px;
      height: 120px;
      @include respond-to(handheld) {
        width: 192px;
        height: 80px;
        margin: 0 auto;
        background: $white url(asset_path('ukhls-logo-handheld.gif')) no-repeat 0 0;
        @include image-2x(asset_path('ukhls-logo-handheld2x.gif'), 192px, 80px);
      }

    }
  }

    nav[role=navigation]
    {

    margin-top: 0px;
    z-index: 3;


    @include respond-to(tablet) {
      // display: none;
      @include mid_grey_gradient;
      top: 0;
      left: 0;
      right: 0;
      position: relative;
      z-index: 999999;
    }
    &.container
    {
      @include respond-to(tablet) { display: none; width: 100%; }
    }

    @include respond-to(handheld) {  padding: 0px;}
    ol
    {
      position: absolute;
      margin: 5px 0 0 0;
      z-index: 3;
      overflow: auto;
      right: 0;
      @include respond-to(tablet) {
        position: relative;
        @include mid_grey_gradient;
        padding: 0px;
        left: 0;
        right: 0;
        margin-top: 0px;
      };

      @include respond-to(handheld) { padding: 0px };
      li
      {
        list-style-type: none;
        float: left;
        @include respond-to(tablet) { 
          float: none;  
          //@include font16; 
          @include rem-fallback(font-size, 1);
          margin: 0; 
        }
        //@include font13;
        font-weight: normal;
        margin: 0;
        &:first-of-type
        {
          margin-left: 0;
        }
        &:last-of-type a
        {
          @include respond-to(tablet) { border-bottom: none; }
          @include respond-to(handheld) { border-bottom: none; }
          margin-right: 0;
        }
        a
        {
          @include respond-to(tablet) { border-right: none; border-bottom: 1px solid #cccccc; padding: 0.5em 1.25em; }
          text-decoration: none;
          display: block;
          padding: 0em 0.75em;
          margin: 0 0.25em;
          @include rounded;
          @include respond-to(tablet) {  @include not_rounded; }
          @include respond-to(handheld) { margin: 0px;}
          &:hover
          {
            background: $light_grey;
            // color: darken( $link_colour, 10% ) ;
          }
          &.active
          {
            background: #457aa6;
            color: $white;
            text-shadow: none;
          }

        }
      }
    }
  }

}