p.definition
{
  font-family: 'ChevinLightItalic';
  @include rem-fallback(font-size, 1.25);
  margin: 0;
  a:link, a:visited, a:active
  {
    text-decoration: none;
    color: $white;
  }
  a:hover
  {
    span
    {
      text-decoration: underline;
    }
  }
  span
  {
    margin-top: 0.25em;
    display: block;
    font-family: 'ChevinLight';

  }
}

.home-nav
{
  font-family: $chevin_light;
  h2
  {
    padding: 0 #{$gutter}px;
    @include rem-fallback(font-size, 1.25);
    @include respond-to(large_desktop) { 
      @include rem-fallback(font-size, 1.5);
    }
    @include respond-to(handheld) { 
      @include rem-fallback(font-size, 1.25);
      padding: 0; 
      margin: 0; 
    }
    font-weight: normal;
    font-style: normal;
    font-weight: 100;
    line-height: 1em;
    margin: #{$gutter}px 0 0 0;
    a
    {
      color: $white;
      &:hover
      {
        color: $white;
        text-decoration: underline;
      }
    }

  }


  article
  {
    @include respond-to(handheld) { margin-bottom: #{$gutter / 2}px; }
    h2
    {
      margin-top: #{$gutter / 2}px;
      margin-bottom: 0;
    }
    ol
    {
      clear: left;
      margin-top: #{$gutter / 2}px;

      margin-right: 50px;
      padding: 0 #{$gutter}px;

      @include respond-to(tablet) { display: none; }
      @include respond-to(handheld) { padding: 0; display: block; }

      li
      {
        //@include font18;
        @include rem-fallback(font-size, 1.25);
        margin: 0;
        line-height: 18px;
        list-style-type: none;
        display: inline;
        &:not(:last-of-type):after
        {
          content: ", ";
        }
        &.newline
        {
          display: block;
        }
        a
        {
          color: $white;
          text-decoration: none;
          &:hover
          {
            color: $white;
            text-decoration: underline;
          }
        }

      }
    }
  }

  .about
  {
    @include rounded;
    @include grey_gradient;
    height: 250px;
  }


  .key-features
  {
    @include pink_gradient;
    height: 110px;
    @include rounded;
    @include respond-to(handheld) { height: auto; padding: 0.5em }
    color: $white;
    position: relative;
    p
    {
      //@include font22;
      @include rem-fallback(font-size, 1.4);
      margin: 0.5em 0 0 0 ;
      padding: 0 #{$gutter}px;
      @include respond-to(handheld) { padding: 0; margin: 0; }
    }
    p.definition a span {
      //@include font14;
      @include rem-fallback(font-size, 0.87);
      margin: 0;
      line-height: normal;
      @include respond-to(large_desktop) { margin-top: 1.5em; }
    }
    i.icon
    {
      position: absolute;
      right: #{$gutter / 2}px;
      bottom: #{$gutter / 2}px;
      display: block;
      width: 38px;
      height: 48px;
      background: transparent url(asset_path('home-icons.png')) no-repeat 0 0;
    }

  }

  .research
  {
    @include rounded;
    @include green_gradient;
    height: 110px;
    @include respond-to(handheld) { height: auto; padding: 0.5em }
    color: $white;
    position: relative;
    i.icon
    {
      position: absolute;
      right: #{$gutter / 2}px;
      bottom: #{$gutter / 2 - 10}px ;
      display: block;
      width: 40px;
      height: 48px;
      background: transparent url(asset_path('home-icons.png')) no-repeat -92px 0;
    }

  }

  html.lt-ie8 .research, html.lt-ie8 .participants, html.lt-ie8 .key-features, html.lt-ie8 .about, html.lt-ie8 .data
  {
    background: none;
  }

  .participants
  {
    @include rounded;
    @include yellow_gradient;
    height: 110px;
    @include respond-to(handheld) { height: auto; padding: 0.5em }
    color: $white;
    position: relative;
    i.icon
    {
      position: absolute;
      right: #{$gutter / 2}px;
      bottom: #{$gutter / 2}px ;
      display: block;
      width: 53px;
      height: 48px;
      background: transparent url(asset_path('home-icons.png')) no-repeat -38px 0;
    }

  }

  .data
  {
    @include rounded;
    @include blue_gradient;
    height: 110px;
    @include respond-to(handheld) { height: auto; padding: 0.5em }
    color: $white;
    position: relative;
    i.icon
    {
      position: absolute;
      right: #{$gutter / 2}px;
      bottom: #{$gutter / 2}px ;
      display: block;
      width: 34px;
      height: 48px;
      background: transparent url(asset_path('home-icons.png')) no-repeat -132px 0;
    }

  }


}


  .twitter
  {
    @include rounded;
    position:relative;
    overflow-y: scroll;
    background: $white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border: 1px solid $mid_grey;
    height: #{190 * 2 + $gutter}px;
    margin-bottom: #{$gutter}px;
    @include respond-to(tablet) { height: #{190 * 2 + $tablet_gutter}px; }
    @include respond-to(large_desktop) { height: #{190 * 2 + $large_desktop_gutter}px; }
    @include respond-to(handheld) { width: 90%; }
  }