figure.home-banner
{
  position: relative;
  width: 945px;
  @include rem-fallback(height, 15);
  display: block;
  background: transparent url(asset_path('banner-medium.jpg')) no-repeat 0 0;
  @include respond-to(large_desktop) {
   width: 1185px;
   background-image: url(asset_path('banner-large.jpg')); }
  @include respond-to(tablet) {
    width: 745px;
    @include rem-fallback(height, 15.5);
    background-image: url(asset_path('banner-small.jpg'));
    @include image-2x(asset_path('banner-small-retina.jpg'), 745px, 250px);
  }
  @include respond-to(handheld) {
    @include rem-fallback(height, 9);
    @include rem-fallback(margin-bottom, 9);
    width: auto;
    background: transparent url(asset_path('home-banner-large.jpg', image)) no-repeat top center;
    background-size: cover;
  }

  // @include respond-to(handheld) { background-image: none; }
  @include rounded;

  figcaption
  {
    position: absolute;
    color: $black;
    font-family: $chevin_light;
    margin: 0;
    @include rem-fallback(left, 1);
    @include rem-fallback(top, 1);
    @include rem-fallback(font-size, 1.25);
    @include rem-fallback(width, 27);
    @include rem-fallback(padding, 0.5);
    @include rounded;
    @include translucent_white;

    @include respond-to(large_desktop) { @include rem-fallback(width, 29); @include rem-fallback(font-size, 1.375);  }
    @include respond-to(tablet) { @include rem-fallback(width, 18); }
    @include respond-to(handheld) { position: relative; text-align: center; padding: 0em; bottom: 5px; top: 155px; left: 5px; right: 5px; @include rem-fallback(font-size, 1.125); line-height: normal; width: auto; @include rem-fallback(min-height, 6); }


    a
    {
      font-family: $chevin_medium;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
    }
  }
}

.participants-banner-wrapper{

background: $light_grey;
border: 1px solid $light_grey;
@include rounded;
 @include respond-to(handheld) { margin-bottom: 8px; }

figure.participants-banner
{
  position: relative;
  width: 943px;
  height: 330px;
  display: block;
  background: transparent url(asset_path('banner-medium-features.jpg')) no-repeat 0 0;
  @include respond-to(large_desktop) {
   width: 1183px;
   background-image: url(asset_path('banner-large-features.jpg')); }
  @include respond-to(tablet) {
    width: 743px;
    background-image: url(asset_path('banner-small-features.jpg'));
    @include image-2x(asset_path('banner-small-retina-features.jpg'), 745px, 250px);
  }
  @include respond-to(handheld) {
    display:none;
  }

  // @include respond-to(handheld) { background-image: none; }
  @include rounded;

  figcaption
  {
    position: absolute;
    color: $black;
    font-family: $chevin_light;
    @include font20;
    line-height: normal; 
    margin: 0;
    top: 250px;
    width: 100%;
    text-align: center;
    @include rounded;
    padding-top: 0.5em;
    @include respond-to(large_desktop) { @include font22;  }
    @include respond-to(handheld) { position: relative; text-align: center; padding: 0em; bottom: 5px; top: 155px; left: 5px; right: 5px; @include font18; width: auto; }


    a
    {
      font-family: $chevin_medium;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
    }

    span
    {
    font-family: $chevin_medium;
    color: $blue;
    }
  }

}

 figure.participants-banner-mobile
  {
  display:none;
  @include respond-to(large_desktop) { display:none;}
  @include respond-to(desktop) { display:none;}
  @include respond-to(tablet) { display:none;}
  @include respond-to(handheld) { display:block;}
  position: relative;
  max-width: 100%;
  background: none;
  }

  img 
  {
    @include rounded_top;
    width:100%;
  }

  .call-to-action  
  {
    color: $blue;
    font-family: $chevin_medium;
    @include font18;
    line-height: normal;
    margin: 0;
    top: 250px;
    width: 100%;
    text-align: center;
    @include rounded;
    padding-top: 0.5em;
    padding-bottom: 1em;
    display:none;
    @include respond-to(large_desktop) { display:none;}
    @include respond-to(desktop) { display:none;}
    @include respond-to(tablet) { display:none;}
    @include respond-to(handheld) { display:block;}
   a
    {
      font-family: $chevin_medium;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
    }
  } 
}



figure {
  
  img
  {
    @include rounded;
  }

  &.banner 
  {
    position: relative;
    @include rem-fallback(margin-bottom, 0.875);
    height: 250px;

    @include respond-to(large_desktop) { height: 250px; @include rem-fallback(margin-bottom, 0.875); }
    @include respond-to(tablet) { height: 226px; @include rem-fallback(margin-bottom, 0.75); }
    @include respond-to(handheld) { height:auto !important; @include rem-fallback(margin-bottom, 1.125); } //reset height to default

    img {
      height: 250px;
      @include respond-to(large_desktop) { height: 250px; width: 100%; }
      @include respond-to(tablet) { height: 226px; }
      @include respond-to(handheld) { height:auto !important; }
    }
  }

  &.banner.full-width
  {
    position: relative;
    @include rem-fallback(margin-bottom, 2);
    @include rem-fallback( height, 16);

    @include respond-to(large_desktop) { height: 330px; @include rem-fallback(margin-bottom, 1.875); }
    @include respond-to(tablet) { height: 216px; @include rem-fallback(margin-bottom, 1.5); }
    @include respond-to(handheld) { height:auto !important; @include rem-fallback(margin-bottom, 1.125); } //reset height to default

    img {
      height:auto !important; 
    }
  }
  
  &.banner, &.banner.full-width
  { 
    figcaption
    {
      position: absolute;
      color: $black;
      font-family: $chevin_light;
      @include rem-fallback(font-size, 1.375);
      @include rem-fallback(padding, 0.5, 0); 
      @include translucent_white;
      margin: 0;
      
      &.square 
      {
        @include rem-fallback(top, 1);
        @include rem-fallback(left, 1);
        @include rem-fallback(width, 20);
        @include rem-fallback(padding, 0.75);
        @include rounded;

        &.small 
        {
          @include rem-fallback(width, 10);
        }

        &.large 
        {
          @include rem-fallback(width, 30);
        }
      }

      &.stripe 
      {
        @include rem-fallback(bottom, 3.75);
        left: 0px;
        right: 0px;
        @include rem-fallback(padding, 0.25, 0, 0.25, 1);
        @include respond-to(handheld) { display: none; }; 
      }
      
      &.center 
        {
          text-align:center;
        }
      
      span
      {
        font-family: $chevin_light;
        @include rem-fallback(font-size, 1.25);
        @include rem-fallback(line-height, 1.875);
      }

      a
      {
        font-family: $chevin_medium;
        margin-top: 0.5em;
        display: block;
      }

      &.green 
      {
        @include green_gradient;
        color: $white;
      }
    }
  }
}
