.innovation-banner-wrapper 
{
  background: #d6e7f8;
  @include rounded;
  figure.innovation-banner
  {
    position: relative;
    width: 945px;
    height: 235px;
    display: block;
    background: transparent url(asset_path('banner-innovation-desktop.jpg')) no-repeat 0 0;
    @include respond-to(large_desktop) { width: 1185px; background-image: url(asset_path('banner-innovation-desktop-large.jpg')); }
    @include respond-to(tablet) { width: 745px; margin-bottom:7.5px; background-image: url(asset_path('banner-innovation-tablet.jpg'));
    }

    @include respond-to(handheld)
    {
      width: auto;
      min-height: 150px;
      height: auto;
      background: transparent url(asset_path('banner-innovation-mobile.jpg')) no-repeat top right;
    }

    @include rounded;

      figcaption
  {
    position: absolute;
    font-family: $chevin_light;
    margin: 0;
    @include rem-fallback(left, 1);
    @include rem-fallback(top, 1);
    @include rem-fallback(font-size, 1.25);
    @include rem-fallback(padding, 0.75);
    @include rounded;
    @include respond-to(handheld)
    { padding:0; width: 50%; }

    h2 {
      @include rem-fallback(font-size, 2.75);
      @include rem-fallback(margin-bottom, 1);
      @include rem-fallback(line-height, 3);
      @include respond-to(large_desktop) {
        @include rem-fallback(font-size, 3.25);
        @include rem-fallback(line-height, 4);
        }
      @include respond-to(handheld) {
        @include rem-fallback(font-size, 1.8);
        @include rem-fallback(line-height, 2);
        }
      span {
        font-size: 70%;
        display: block;
        color: $link;
      }
    }
    p {
      display: block;
      @include respond-to(handheld) { display: none;}
      }


      a, hover
      {
        font-family: $chevin_light;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: block;
        text-decoration: none;
      }
    }
  }
}

figure.home-banner
{
  position: relative;
  width: 945px;
  height: 250px;
  display: block;
  background: transparent url(asset_path('banner-medium.jpg')) no-repeat 0 0;
  @include respond-to(large_desktop) {
   width: 1185px;
   background-image: url(asset_path('banner-large.jpg')); }
  @include respond-to(tablet) {
    width: 745px;
    background-image: url(asset_path('banner-small.jpg'));
    @include image-2x(asset_path('banner-small-retina.jpg'), 745px, 250px);
  }
  @include respond-to(handheld) {
    width: auto;
    margin-bottom: 160px;
    height: 150px;
    width: auto;
    background: transparent url(asset_path('home-banner-large.jpg', image)) no-repeat top center;
    background-size: cover;
  }

  // @include respond-to(handheld) { background-image: none; }
  @include rounded;

  figcaption
  {
    position: absolute;
    color: $black;
    font-family: $chevin_light;
    @include font20;
    margin: 0;
    top: 15px;
    width: 27em;
    @include rounded;
    left: 15px;
    padding: 0.5em;
    @include translucent_white;
    @include respond-to(large_desktop) { width: 29em; @include font22;  }
    @include respond-to(tablet) { width: 18em; }
    @include respond-to(handheld) { position: relative; text-align: center; padding: 0em; bottom: 5px; top: 155px; left: 5px; right: 5px; @include font18; line-height: normal; width: auto; }


    a
    {
      font-family: $chevin_medium;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
    }
  }
}

figure.contact-banner
{
  width: 235px;
  width: 225px;
  display: block;
  position: relative;
  @include respond-to(large_desktop) {  width: 285px; }
  @include respond-to(tablet) {  width: 160px; }
  @include respond-to(handheld) { display: none; }
  img
  {
    @include rounded;
  }
}

figure.about-banner
{
  position: relative;
  margin-bottom: 1em;
  width: 985px;
  height: 250px;
  display: block;
  @include respond-to(large_desktop) {  width: 1185px; }
  @include respond-to(tablet) {  width: 685px; }
  @include respond-to(handheld) { display: none; }
  img
  {
    @include rounded;
    height: 250px;
  }
  figcaption
  {
    position: absolute;
    color: $black;
    font-family: $chevin_light;
    @include font20;
    margin: 0;
    top: 15px;
    width: 29em;
    @include rounded;
    left: 15px;
    padding: 0.5em;
    @include translucent_white;
    @include respond-to(large_desktop) { @include font22; margin: 0; }
    @include respond-to(handheld) { @include font18; width: 300px; }
    a
    {
      font-family: $chevin_medium;
      margin-top: 0.5em;
      display: block;
    }
  }
}


figure.research-banner
{
  border: 1px solid $light_grey;
  position: relative;
  width: 943px;
  @include rem-fallback(height, 16.875);
  display: block;
  background: transparent url(asset_path('banner-research-medium.jpg')) no-repeat -10px 0;
  
  @include respond-to(large_desktop) 
  {
   width: 1183px;
  @include rem-fallback(height, 16.875);
  }
  
  @include respond-to(tablet) 
  {
    width: 745px;
    background: transparent url(asset_path('banner-research-tablet.jpg')) no-repeat -30px 0;
  }
  
  @include respond-to(handheld) {
    @include rem-fallback(margin-bottom, 9.71875);
    @include rem-fallback(margin-bottom, 0.75);
    width: 100%;
    background: transparent url(asset_path('banner-research-mobile.jpg', image)) no-repeat 10px 190px;
    background-size: cover;
    @include rem-fallback(height, 19.375);
  }

  // @include respond-to(handheld) { background-image: none; }
  @include rounded;

  figcaption
  {
    position: absolute;
    color: $black;
    font-family: $chevin_light;
    margin: 0;
    @include rem-fallback(right, 1);
    @include rem-fallback(top, 1);
    @include rem-fallback(font-size, 1.25);
    @include rem-fallback(width, 30);
    @include rem-fallback(padding, 0.75);
    @include rounded;

    
    
    @include respond-to(large_desktop) 
    { 
      @include rem-fallback(width, 46); 
      @include rem-fallback(font-size, 1.375);  

    }
    
    @include respond-to(tablet) 
    { 
      @include rem-fallback(width, 24); 
    }

    @include respond-to(handheld) 
    { 
      text-align: center; 
      @include rem-fallback(font-size, 1.125);
      @include rem-fallback(right, 0);
      line-height: normal; 
      width: auto;
       h2 {
        @include rem-fallback(font-size, 1.7);
      }
    }
  }
}




figure.conference-banner
{
  border: 1px solid #dcdcdc;
  position: relative;
  width: 943px;
  @include rem-fallback(height, 16.875);
  display: block;
  background: transparent url(asset_path('banner-conference-medium.jpg')) no-repeat 0 0;
  
  @include respond-to(large_desktop) 
  {
   width: 1183px;

   background-image: url(asset_path('banner-conference-large.jpg')); 
  @include rem-fallback(height, 16.875);
  }
  
  @include respond-to(tablet) 
  {
    width: 745px;
    @include rem-fallback(height, 16.875);
    background-image: url(asset_path('banner-conference-small.jpg'));
  }
  
  @include respond-to(handheld) {
    @include rem-fallback(margin-bottom, 9.71875);
    @include rem-fallback(margin-bottom, 0.75);
    width: auto;
    background: transparent url(asset_path('banner-conference-mobile.jpg', image)) no-repeat bottom right;
    @include rem-fallback(height, 19.375);
  }

  // @include respond-to(handheld) { background-image: none; }
  @include rounded;

  figcaption
  {
    position: absolute;
    color: $black;
    font-family: $chevin_light;
    margin: 0;
    @include rem-fallback(left, 1);
    @include rem-fallback(top, 1);
    @include rem-fallback(font-size, 1.25);
    @include rem-fallback(width, 36);
    @include rem-fallback(padding, 0.75);
    @include rounded;

    h2 {
      @include rem-fallback(font-size, 2.35);
      @include rem-fallback(margin-bottom, 1);
      @include rem-fallback(line-height, 3);
      span {
        font-size: 65%;
        display: block;
        line-height: 60px;
        @include respond-to(tablet) {
          @include rem-fallback(line-height, 2.5);
          }
        color: $black;
      }
    }
    
    @include respond-to(large_desktop) 
    { 
      @include rem-fallback(width, 46); 
      @include rem-fallback(font-size, 1.375);  
      h2 {
        @include rem-fallback(font-size, 2.5);
      }
    }
    
    @include respond-to(tablet) 
    { 
      @include rem-fallback(width, 28.5); 
      h2 {
        @include rem-fallback(font-size, 2);
      }
    }

    @include respond-to(handheld) 
    { 
      text-align: center; 
      @include rem-fallback(font-size, 1.125);
      @include rem-fallback(right, 1);
      line-height: normal; 
      width: auto;
       h2 {
        @include rem-fallback(font-size, 1.7);
      }
    }
  }
}





figure.policy-banner
{
  position: relative;
  width: 945px;
  @include rem-fallback(height, 14.875);
  display: block;
  background: transparent url(asset_path('policy-banner-medium.jpg')) no-repeat 0 0;
  @include respond-to(large_desktop) {
   width: 1185px;
   background-image: url(asset_path('policy-banner-large.jpg')); }
  @include respond-to(tablet) {
    width: 745px;
    @include rem-fallback(height, 14.875);
    background-image: url(asset_path('policy-banner-small.jpg'));
    @include image-2x(asset_path('policy-banner-small-retina.jpg'), 745px, 250px);
  }
  @include respond-to(handheld) {
    @include rem-fallback(height, 9);
    @include rem-fallback(margin-bottom, 9.71875);
    width: auto;
    background: transparent url(asset_path('policy-banner-large.jpg', image)) no-repeat top center;
    background-size: cover;
  }

  // @include respond-to(handheld) { background-image: none; }
  @include rounded;

  figcaption
  {
    position: absolute;
    color: $black;
    font-family: $chevin_light;
    margin: 0;
    @include rem-fallback(left, 1);
    @include rem-fallback(top, 1);
    @include rem-fallback(font-size, 1.25);
    @include rem-fallback(width, 34);
    @include rem-fallback(padding, 0, 1, 1, 1);
    @include rounded;
    @include translucent_white;
    @include respond-to(large_desktop) { @include rem-fallback(width, 37); @include rem-fallback(font-size, 1.375);  }
    @include respond-to(tablet) { @include rem-fallback(width, 22); }
    @include respond-to(handheld) { position: relative; text-align: center; padding: 0em; bottom: 5px; top: 155px; left: 5px; right: 5px; @include rem-fallback(font-size, 1.125); line-height: normal; width: auto; }


    span
    {
      // font-family: $chevin_medium;
      @include rem-fallback(font-size, 2.5);
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
    }
  }
}




.participants-banner-wrapper{

background: $light_grey;
border: 1px solid $light_grey;
@include rounded;
 @include respond-to(handheld) { margin-bottom: 8px; }

figure.participants-banner
{
  position: relative;
  width: 943px;
  height: 330px;
  display: block;
  background: transparent url(asset_path('banner-medium-features.jpg')) no-repeat 0 0;
  @include respond-to(large_desktop) {
   width: 1183px;
   background-image: url(asset_path('banner-large-features.jpg')); }
  @include respond-to(tablet) {
    width: 743px;
    background-image: url(asset_path('banner-small-features.jpg'));
    @include image-2x(asset_path('banner-small-retina-features.jpg'), 745px, 250px);
  }
  @include respond-to(handheld) {
    display:none;
  }

  // @include respond-to(handheld) { background-image: none; }
  @include rounded;

  figcaption
  {
    position: absolute;
    color: $black;
    font-family: $chevin_light;
    @include font20;
    line-height: normal;
    margin: 0;
    top: 250px;
    width: 100%;
    text-align: center;
    @include rounded;
    padding-top: 0.5em;
    @include respond-to(large_desktop) { @include font22;  }
    @include respond-to(handheld) { position: relative; text-align: center; padding: 0em; bottom: 5px; top: 155px; left: 5px; right: 5px; @include font18; width: auto; }


    a
    {
      font-family: $chevin_medium;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
    }

    span
    {
    font-family: $chevin_medium;
    color: $blue;
    }
  }

}

 figure.participants-banner-mobile
  {
  display:none;
  @include respond-to(large_desktop) { display:none;}
  @include respond-to(desktop) { display:none;}
  @include respond-to(tablet) { display:none;}
  @include respond-to(handheld) { display:block;}
  position: relative;
  max-width: 100%;
  background: none;
  }

  img
  {
    @include rounded_top;
    width:100%;
  }

  .call-to-action
  {
    color: $blue;
    font-family: $chevin_medium;
    @include font18;
    line-height: normal;
    margin: 0;
    top: 250px;
    width: 100%;
    text-align: center;
    @include rounded;
    padding-top: 0.5em;
    padding-bottom: 1em;
    display:none;
    @include respond-to(large_desktop) { display:none;}
    @include respond-to(desktop) { display:none;}
    @include respond-to(tablet) { display:none;}
    @include respond-to(handheld) { display:block;}
   a
    {
      font-family: $chevin_medium;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
    }
  }
}

figure
{

  &.featured, &.regular
  {
    font-style: italic;
    max-width: 300px;
  }

  &.featured
  {
    float: left;
    @include rem-fallback(padding, 0, 2, 0, 0);
    @include rem-fallback(margin-bottom, 1.5);

    figcaption
    {
      @include rem-fallback(font-size, 0.875);

      p
      {
        margin: 0;
      }
    }
  }

  &.pull-left
  {
    margin-left: -#{($column_width * 4) + ($gutter * (4 + 1))}px;
    @include rem-fallback(padding, 0, 1, 0, 0);
  }

  img
  {
    @include rounded;
  }

  &.banner
  {
    position: relative;
    @include rem-fallback(margin-bottom, 0.875);
    height: 250px;
    @include respond-to(large_desktop) { @include rem-fallback(height, 18.125); @include rem-fallback(margin-bottom, 1.375); }
    @include respond-to(tablet) { @include rem-fallback(height, 14.25); @include rem-fallback(margin-bottom, 0.75); }
    @include respond-to(handheld) { height: 10.5rem; @include rem-fallback(margin-top, 0.75); @include rem-fallback(margin-bottom, 0.75);}

    img
    {
      height: 250px;
      @include respond-to(large_desktop) { @include rem-fallback(height, 18.125); width: 100%; }
      @include respond-to(tablet) { @include rem-fallback(height, 14.25); }
      @include respond-to(handheld) { @include rem-fallback(height, 10.5); width: 100%; }
    }
  }

  &.banner.full-width
  {
    position: relative;
    @include rem-fallback(margin-bottom, 2);
    @include rem-fallback( height, 16);
    @include respond-to(large_desktop) { height: 330px; @include rem-fallback(margin-bottom, 1.875); }
    @include respond-to(tablet) { height: 216px; @include rem-fallback(margin-bottom, 1.5); }
    @include respond-to(handheld) { height:auto !important; @include rem-fallback(margin-bottom, 1.125); } //reset height to default

    img
    {
      height:auto !important;
    }
  }

  &.banner, &.banner.full-width
  {
    figcaption
    {
      position: absolute;
      color: $black;
      font-family: $chevin_light;
      @include rem-fallback(font-size, 1.375);
      @include rem-fallback(padding, 0.5, 0);
      @include translucent_white;
      margin: 0;
      left: 0px;
      right: 0px;
      @include rem-fallback(padding, 0.5, 1, 0.5, 1);
      @include rem-fallback(bottom, 1.5);
      @include respond-to(handheld) { @include rem-fallback(font-size, 1.125); @include rem-fallback(bottom, 0.5); @include rem-fallback(padding, 0.25, 1, 0.25, 1);}

      &.square
      {
        @include rem-fallback(top, 1);
        @include rem-fallback(left, 1);
        @include rem-fallback(width, 20);
        @include rem-fallback(padding, 0.75);
        @include rounded;

        &.small
        {
          @include rem-fallback(width, 10);
        }

        &.large
        {
          @include rem-fallback(width, 30);
        }
      }

      &.center
        {
          text-align:center;
        }

      span
      {
        font-family: $chevin_light;
        @include rem-fallback(font-size, 1.25);
        @include rem-fallback(line-height, 1.875);
        @include respond-to(handheld) { @include rem-fallback(font-size, 1); }
      }

      a
      {
        font-family: $chevin_medium;
        margin-top: 0.5em;
        display: block;
      }

      &.green
      {
        @include green_gradient;
        color: $white;
      }
    }
  }
}
