.btn 
{
  display: inline-block;
  position: relative;
  @include rem-fallback(font-size, 1);
  font-family: $chevin_medium;
  font-weight: normal;
  text-align: center;
  color: $link;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: 0;
  background-color: #fcfcfc;
  @include rem-fallback(padding, 0.75, 1); //12px
  @include rem-fallback(line-height, 1);
  @include rem-fallback(margin, 0.25, 0); //4px
  border-radius: $radius;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08) inset;
  @include mid_grey_gradient;
  border-color: $mid_grey;
  
  &:hover, &:active 
  {
    background: $light_grey;
    border-color: $mid_grey;
    color: $link;
  }

  &:focus 
  {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    -moz-box-shadow:    0px 0px 6px 0px $mid_grey;
    -webkit-box-shadow: 0px 0px 6px 0px $mid_grey;
    box-shadow:         0px 0px 6px 0px $mid_grey;
  }

  &.fluid 
  {
    width: 100%;
  }

  &.circular 
  {
    border-radius: 10em;
  }

  &.icon 
  {
    @include rem-fallback(line-height, 0.8);
  }

  &.small 
  {
    @include rem-fallback(font-size, 1);
    @include rem-fallback(padding, 0.75, 0.75);
    @include rem-fallback(margin, 0.5, 0);
    @include rem-fallback(line-height, 0.75);
  }

   &.inline 
  {
    @include rem-fallback(font-size, 1);
    @include rem-fallback(padding, 0.75, 0.75);
    @include rem-fallback(margin, 0.25, 0, 0.5, 0);
    @include rem-fallback(line-height, 0.75);
    @include respond-to(handheld) {  @include rem-fallback(margin-bottom, 0.75); @include rem-fallback(margin-top, 0); }
  }

  &.large 
  {
    @include rem-fallback(font-size, 1.25);
    @include rem-fallback(padding, 0.875, 1.25);
    @include rem-fallback(margin, 0);
    @include rem-fallback(line-height, 1.25);
  }
}

a.btn 
{
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}


.btn-blue 
{
  @include blue_gradient;
  color: $white  !important;
  
  &:hover, &:active 
  {
    background: $dark_blue;
    color: $white  !important;
  }
}

.btn-green 
{
  @include green_gradient;
  color: $white  !important;
  
  &:hover, &:active 
  {
    background: $mid_green;
    color: $white;
  }
}

.btn-yellow 
{
  @include yellow_gradient;
  color: $white;
  
  &:hover, &:active 
  {
    background: $mid_yellow;
    color: $white;
  }
}

@mixin btn
{
  @include mid_grey_gradient;
  @include rounded;
  border: 1px solid $mid_grey; 
  font-family: $chevin_medium;
  color: #333;
  @include rem-fallback(padding, 0.4, 0.5);
  @include rem-fallback(line-height, 2.5);
}

i.rss
{
  background: transparent url(asset_path('ico/rss.png')) no-repeat 50% 50%;
  width: 16px;
  height: 16px;
  text-indent: -3000em;
  margin-right: 6px;
  top: 2px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}