p, pre 
{
@include rem-fallback(margin, 0, 0, 1.5, 0);
font-style: normal;
  &.subheading 
  {
    @include rem-fallback(font-size, 1.25);
    font-weight: 200;
  }
  &.highlight 
  {
    position: relative;
    margin-right: -100px;
    font-weight: normal;
    @include green_gradient;
    @include rounded;
    font-family: $chevin_light_italic;
    @include rem-fallback(font-size, 1.25);
    @include rem-fallback(padding, 1.5);
    width: 30%;
    float: right;
    color: $white;
    @include rem-fallback(margin, 0, 0, 1, 1);
      @include respond-to(handheld) { width: 100%; @include rem-fallback(font-size, 1.125); }
      & a 
      {
        color: $white;
        text-decoration: underline;
        &:hover {
        color: $white;
        text-decoration: none;
      }
    }
    &.left
    {
      float: left;
      @include rem-fallback(margin, 0, 1, 1, 0);
    }
  }
  &.lead {
    font-weight: 200;
  }
}

p { 
  &.meta
  {
    @include rem-fallback(font-size, 0.8125);
  }
}


html.lt-ie8 p.highlight
{
  background: none;
}


.callout {
  overflow: hidden;
  @include callout($green);
  zoom: 1;
  @include rem-fallback(padding, 0.75);
  border-left: 6px solid $green;
  @include rounded;
  @include rem-fallback(margin, 0, 0, 1.5, 0);
  h2:first-of-type
  {
    @include font24;
    margin-top: 0;
  }
  h3:first-of-type
  {
    margin-top: 0;
  }
  p.subheading:first-of-type
  {
    margin-top: 0;
  }
  ul 
  {
    @include rem-fallback(margin, 0.75, 0);
  }
  &.success {
    @include callout($green);
  }
  &.alert {
    @include callout($pink);
  }
  &.info
  {
  @include callout($blue);
  }
  &.note
  {
    @include callout($grey);
  }
}

div.alert
{
  @include callout($pink);
}

//headings
@for $i from 1 through 6 {
  h#{$i}
  {
    display: block;
    font-family: $heading_font;
    text-rendering: optimizelegibility;
    font-weight: 100;
    margin: 0;
    span
    {
      display: block;
      @include rem-fallback(font-size, 1.375);
      @include rem-fallback(line-height, 1.5);
      color: $dark_grey;
      &.inline
      {
        display: inline;
      }
    }
  }
}

h1 
{
font-weight: normal;
@include rem-fallback(font-size, 2); //32
@include rem-fallback(line-height, 3);
@include rem-fallback(margin, 0, 0, 1.5);
//@include respond-to(large_desktop) { @include rem-fallback(font-size, 2.25);  @include rem-fallback(margin, 0, 0, 1.25);}
  &:first-child 
  {
  @include rem-fallback(margin, 0, 0, 1.5);
  }
}

.lt-ie9 h1
{
@include rem-fallback(font-size, 1.75);
  span
  {
  @include rem-fallback(font-size, 1.125);
  }
}

h2 
{
  @include rem-fallback(font-size, 1.75);
  @include rem-fallback(line-height, 3);
  @include rem-fallback(margin, 0, 0, 1.5);
}

h3 
{
  @include rem-fallback(font-size, 1.5);
  @include rem-fallback(line-height, 1.5);
  @include rem-fallback(margin, 0, 0, 1.5);
}

h4 
{
  @include rem-fallback(font-size, 1.375);
  @include rem-fallback(line-height, 1.5);
  margin: 0;
}

h5 
{
  @include rem-fallback(font-size, 1.125);
  @include rem-fallback(line-height, 1.5);
  margin:0;
}

h6 
{
  @include rem-fallback(font-size, 1);
  @include rem-fallback(line-height, 1.5);
  margin:0;
}

h3.meta_links
{
  display: inline;
  @include rem-fallback(font-size, 0.8);
}

small 
{
  @include rem-fallback(font-size, 0.75);
  @include rem-fallback(line-height, 0.75);
}

b, strong 
{
  font-weight: bold;
}

i, cite, em, var, address, dfn
{
  font-style: italic;
}

abbr[title] 
{
  border-bottom: 1px dotted;
}

.text-left 
{
  text-align: left;
}

.text-center  
{
  text-align: center;
}

.text-right 
{
  text-align: right;
}

.text-muted 
{
  color: $grey;
}

.text-success 
{
  color: $green;
}

.text-info 
{
  color: $blue;
}

.text-warning
{
  color: $yellow;
}

.text-danger
{
  color: $red;
}


// links

a:link {
  -webkit-transition: background .2s ease-out;
  -webkit-transition: color .2s ease-out;
}

a:link, a:visited 
{
  color: $link;
  text-decoration: none;
}

a:hover 
{
  color: $hover;
  text-decoration: underline;
}

a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif]
{
  text-decoration: none;
  border: 0 none;
}

.hidelink a:link, .hidelink a:visited, .hidelink a:active
{
  color: $black;
  text-decoration: none;
}

time 
{
  @include rem-fallback(font-size, 0.875);
  margin: 0;
  color: $grey;
  line-height: normal;
}

a#show-grid 
{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

blockquote 
{
  font-family: ChevinLightItalic;
  @include rem-fallback(font-size, 1.25);
  @include rem-fallback(margin, 0.75, 2.5);
  @include respond-to(handheld) { margin: 1em #{$gutter / 2}px; }
  & small 
  {
    color: $dark_grey;
  }
  &.pullquote 
  {
    position: relative;
    font-weight: normal;
    @include green_gradient;
    @include rounded;
    @include rem-fallback(font-size, 1.25);
    @include rem-fallback(padding, 1.5);
    width: 30%;
    float: right;
    color: $white;
    @include rem-fallback(margin, 0, 0, 1.5, 1.5);
    &.left 
    {
    float: left;
    @include rem-fallback(margin, 0, 1.5, 1.5, 0);
    }
      & a 
      {
      color: $white;
      text-decoration: underline;
      &:hover {
      color: $white;
      text-decoration: none;
      }
    }
  }
}

hr 
{
  clear: both;
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
  border-bottom: 1px solid $light_grey;
  @include rem-fallback(padding-top, (($baseline / 2 - 1) / $base_font_size));
  @include rem-fallback(margin-bottom, 0.75);
  @include rem-fallback(line-height, 1.5);
}