footer[role=contentinfo]
{
  clear: both;
  background: $black;
  color: $light_black;
  position: relative;
  margin-top: 130px;
  @include respond-to(large_desktop) { margin-top: 155px; }
  @include respond-to(tablet) { margin-top: 90px; }
  @include respond-to(handheld) { margin-top: 0; }
  padding: 0;

  ol.footer li  
  {
    a
    {
      color: $light_black;
      &:hover
      {
        color: $white;
      }
    }
  }

  i.icon
  {
    position: absolute;
    display: block;
    height: 105px;
    top: -105px;
    width: 945px;
    background: transparent url(asset_path('peeps.gif')) no-repeat 0 0;
    @include respond-to(large_desktop) { top: -131px; height: 131px; width: 1185px; background-image: url(asset_path('peeps-large.gif')); }
    @include respond-to(tablet) { height: 83px; top: -83px; width: 685px; width: 745px; background-image: url(asset_path('peeps-tablet.gif')); }
    @include respond-to(handheld) { display: none; }
  }

  p.logo 
  {
    float: left;
    @include rem-fallback(margin-right, 0.5);
    @include rem-fallback(font-size, 0.75);
    line-height: normal;
    @include rem-fallback(margin, 1, 0.5, 1, 0);
    @include respond-to(handheld) { float: none; text-align: left }
  }

  a.esrc-link
  {
    display: inline-block;
    height: 66px;
    width: 80px;
    margin-right: 20px;
    background: transparent url(asset_path('esrc-logo.gif')) no-repeat 0 0;
    @include image-2x(asset_path('esrc-logo2x.gif'), 80px, 66px);
    text-indent: -3000em;
    overflow: hidden;
    @include rem-fallback(margin-bottom, 0.5);
  }
    a.essex-link
  {
    display: inline-block;
    height: 65px;
    width: 192px;
    background: transparent url(asset_path('university-of-essex-logo.png')) no-repeat 0 0;
    text-indent: -3000em;
    overflow: hidden;
    @include rem-fallback(margin-bottom, 0.5);
  }

  a.iser-link
  {
    display: inline-block;
    height: 65px;
    width: 77px;
    margin-right: 0px;
    background: transparent url(asset_path('iser-logo.png')) no-repeat 0 0;
    text-indent: -3000em;
    overflow: hidden; 
    @include rem-fallback(margin-bottom, 0.5);
  }
}
