form 
{
  abbr[title="Required"] 
  {
  border: none;
  color: $red;
  }
    fieldset 
    {
    border: 1px solid $mid_grey;
    @include rem-fallback(margin,  (($baseline - 1) / $base_font_size), 0);
    @include rem-fallback(padding,  0.75, 1);
    border-radius: $radius;
      &.options ul 
      {
      @include rem-fallback(margin,  0.75, 0);
        li 
        {
        list-style-type: none;
        @include rem-fallback(min-height,  3);
        }
      }
    }
  
  label 
  {
  font-weight: normal;
  display:block;
    &.inline 
    {
    display: inline;
    @include rem-fallback(line-height, 1.5);
    float: left;
    padding-right: 1em;
    text-align: right;
    }
  }

  legend 
  {
  @include rem-fallback(font-size, 1.5);
  @include rem-fallback(line-height, 1.5);
  font-family: $chevin_light;
  }

  .help-block 
  {
  @include rem-fallback(font-size, 0.875);
  color: $dark_grey;
  }

  .field 
  {
  @include rem-fallback(min-height, ($baseline * 2) / $base_font_size);
  @include rem-fallback(margin-bottom, 0);
  @include rem-fallback(min-height, 4.5);
    &.inline
    {
    @include rem-fallback(margin-bottom, 1.5);
    @include rem-fallback(min-height, 4.5);
    }
    &.large 
    {
    @include rem-fallback(min-height, 6);
    @include rem-fallback(height, 9);
    }
  }
  
  .two.fields>.field 
  {
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .three.fields>.field 
  {
    width: 33.333%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .four.fields>.field 
  {
    width: 25%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .fields 
  {
    @include rem-fallback(min-height, 3);
    @include rem-fallback(margin-bottom, 1.5);
    clear: both;
    .field 
    {
      clear: none;
      float: left;
      min-height:0;
      &:first-of-type {
      padding-left:0;
      }
      &:last-of-type {
      padding-right:0;
      }
    }
  }
}


input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
textarea,
select 
{
border: 1px solid $mid_grey;
border-radius: $radius;
width: 100%;
@include rem-fallback(padding, 0.5);
@include rem-fallback(margin-bottom, 0.75);
@include rem-fallback(min-height, 2.2);
  &.large 
  {
  @include rem-fallback(min-height, ($baseline * 5) / $base_font_size);
  }
  // Focus state
  &:focus {

    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    -moz-box-shadow:    0px 0px 6px 0px $mid_grey;
    -webkit-box-shadow: 0px 0px 6px 0px $mid_grey;
    box-shadow:         0px 0px 6px 0px $mid_grey;
  }
}

input[type=search] {
  @include rem-fallback(min-height, 1);
}

textarea 
{
@include rem-fallback(height, 6);
}

checkbox inline 
{
display: inline-block;
vertical-align: middle;
}

input[type="text"].inline,
input[type="password"].inline,
input[type="datetime"].inline,
input[type="datetime-local"].inline,
input[type="date"].inline,
input[type="month"].inline,
input[type="time"].inline,
input[type="week"].inline,
input[type="number"].inline,
input[type="email"].inline,
input[type="url"].inline,
input[type="search"].inline,
input[type="tel"].inline,
input[type="color"].inline,
textarea.inline,
select.inline {
  width: auto;
  float: left;
  @include rem-fallback(margin-right, 1);
} 

select
{
  @include light_grey_gradient;
  @include rem-fallback(font-size, 0.875);
  @include rem-fallback(height, 2.2);
}

form input:invalid, form textarea:invalid, form select:invalid 
{
  outline: 3px solid #ce001f;
}



//legacy

form.inline-search 
{
float: right;
margin-bottom: 0;
  fieldset 
  {
  margin: 0px;
  padding: 0px;
  border: none;
    legend 
    {
    display: none;
    }
    label 
    {
    display: inline;
    }
  }
}

form.documentation-search 
{
  position: absolute;
  right: 0;
  @include rem-fallback(top, 3.75);
}


//error information

.error
{
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    border: 1px solid $pink;
    border-left: 4px solid $pink;
  }
}

span.help-inline, span.error-message 
{
  display: block;
  @include rem-fallback(font-size, 0.875);
  margin-top: -9px;
}

span.help-inline
{
  font-style: italic;
  color: $grey;
}

span.error-message
{
  font-weight: bold;
  color: $pink;
}

.required label:after
{
  content: " *"
}