body header[role=banner]  {

  #search-container {
    position: relative;
    display: inline-block;
    width: 350px;
    float: right;
    @include rem-fallback(margin-top, (50 / $base_font_size));
    @include respond-to(large_desktop) { 
     width: 450px;
    }
    @include respond-to(handheld) { 
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 0;
      float: left;
      width: 100%;
    }
    .social-toolbar {
      @include respond-to(tablet) {
        position: absolute;
        top: -90px;
      }
      @include respond-to(handheld) {
        display: none;
      }
    }
  }
 
  form#search {
    position: absolute;
    right: 0px;
    top: 0px;

    @include respond-to(tablet) { 
      top: -93px;
    }

    @include respond-to(handheld) { 
      display: none; left: 0; 
      top: 0; @include mid_grey_gradient; 
      border-bottom: 1px solid $mid_grey;
    }

    input[type="search"] {
      @include rem-fallback(min-height, 1);
      margin: 0;
      
      @include respond-to(handheld) { 
        width: 85%; 
      }
    }

    input[type="submit"]
    {
      position: absolute;
      top: 10px;
      right: 8px;
      @include rem-fallback(width, 1);
      @include rem-fallback(height, 1);
      background: transparent url(asset_path('search-icon.png')) no-repeat 0 0 ;
      border-style: none;
      display: block;
      cursor: pointer;
      text-indent: -3000em;
      overflow: hidden;
      @include respond-to(handheld) { 
        top: 17px; 
        right: 10%;
      }
    } 
  }



h1 {
  margin: 0;
  @include rem-fallback(padding, 0.75, 0);
  display: inline-block;
  @include respond-to(handheld) { 
    padding: 0; 
  }
  
  a {
    text-indent: -3000em;
    overflow: hidden;
    background: $white url(asset_path('ukhls-logo.gif')) no-repeat 0 0;
    @include image-2x(asset_path('ukhls-logo2x.gif'), 288px, 120px);
    display: block;
    width: 288px;
    height: 120px;
    @include respond-to(handheld) {
      width: 192px;
      height: 93px;
      margin: 0 auto;
      background: $white url(asset_path('ukhls-logo-handheld.gif')) no-repeat 0 0;
      @include image-2x(asset_path('ukhls-logo-handheld2x.gif'), 192px, 80px);
    }
  }
}
  
  
}

body header[role=banner]
{
  form#search
  {
    @include respond-to(handheld) { 
      padding: #{$gutter / 2}px 0 #{$gutter / 2}px #{$gutter / 2}px;
    }

    input[type="search"]
    {
      width: 215px;
      @include respond-to(large_desktop) { 
        width: #{(($large_desktop_column_width * 6) + ($large_desktop_gutter * 5)) - 37}px; 
      }
            @include respond-to(handheld) { 
      width: 90%;
    }

    }
  }
}













body header[role=banner] {
  >.container {
    @include rem-fallback(min-height, 9);
    @include respond-to(handheld) { 
      @include rem-fallback(min-height, 5);
    }
  }
  nav[role=navigation] {
    float: right;
    z-index: 1001;
    list-style: none;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    ol {
      list-style: none;
      list-style-image: none;
      padding-left: 0;
      margin: 0;
      li {
        float: left;
        margin-right: 0;
        position: relative;

        a {
          display: block;
          @include rem-fallback(padding, 0.35, 0.45);
          color: #0c6dcc;
          text-decoration: none;
          font-size: 14px;
          
          &.active {
            @include rounded;
            text-shadow: none;
            background: $light_grey;
          }
        }          
        &:hover a { 
          background: $light_grey;
          color: #0c6dcc;
        }
      }
    }
    > ol > li {
      @include rem-fallback(margin-right, 0.15);
    }

    #menu ol {
      background: #fff;
      background: rgba(255,255,255,0);
      list-style: none;
      position: absolute;
      left: -9999px;
      min-width: 150px;
      z-index: 1001;
      a {
        white-space:nowrap; 
      }
      li {
        float: none;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
              border-bottom: 0px;
            }
      }
    }
    #menu li:hover ol { 
        left:0;
        border: 1px solid #ddd;
          li a:hover {
            background: #f2f2f2;

          }
        a {
          text-decoration: none;
          background: #fff;
          color: #0c6dcc;
        }
      }
  }
}









     