.lt-ie9 body
{
  font-size: 14px;
}

.lt-ie9 .row
{
  &:first-child
  {
    margin-top: 0px;
  }
}

html.lt-ie8 p.control, 
html.lt-ie8 p.highlight, 
html.lt-ie8 p.cookie-notice,
html.lt-ie8 .blue_gradient, 
html.lt-ie8 .grey_gradient, 
html.lt-ie8 .yellow_gradient, 
html.lt-ie8 .green_gradient, 
html.lt-ie8 .pink_gradient,
html.lt-ie8 nav.menu,
html.lt-ie8 button.btn, 
html.lt-ie8 a.btn
{
  background: none;
}

.ie9 p.subheading, 
.lt-ie9 p.subheading, 
.ie9 p.call-to-action, 
.lt-ie9 p.call-to-action
{
  @include font16;
  @include rem-fallback(font-size, 1);
  font-weight: normal;
}

.ie9 p.call-to-action, 
.lt-ie9 p.call-to-action
{
  margin-top: 0;
}

html.lt-ie8 figure.banner
{
  figcaption
  {
    background: none;
  }
}

html.lt-ie8 .pagination
{
  a
  {
    background: none;
  }
}