img
{
  border: none;
}

a.i img
{
  vertical-align: middle;
}

.avatar {
  text-align: center;
  figure {
    @include rem-fallback(padding, 0, 2.5);
    margin: 0;
    img {
      border-radius: 100%;
    }
  }
}


