.blog {
  article {
    @include rem-fallback(min-height, 9);
    @include rem-fallback(padding-bottom, 1.5);
    position: relative;
    @include respond-to(tablet) { 
      @include rem-fallback(min-height, 7);
    }
    &:last-of-type {
      border-bottom: none;
    }
    h2 {
      padding-left: 150px;
      @include rem-fallback(font-size, 1.5);
      margin: 0;
      @include respond-to(tablet) { 
        padding-left: 120px; 
      }
      @include respond-to(handheld) { 
        padding-left: 90px; 
        @include rem-fallback(font-size, 1.1);
        line-height: normal; 
        margin: 0;
      }
    p {
      margin-bottom:0;
    }
    }
    div.meta, p, time
    {
      padding-left: 150px;
      @include respond-to(tablet) { padding-left: 120px; }
      @include respond-to(handheld) { padding-left: 90px; }
    }

    p{
      margin-bottom: 0;
      margin-top: 0em;
      @include respond-to(handheld) { margin-top: 0; }
    }
    img
    {
      position: absolute;
      left: 0;
      top: 0;
      @include rounded;
      @include respond-to(tablet) { width: 110px; height: 110px; top: #{$gutter / 2}px; }
      @include respond-to(handheld) { width: 80px; height: 80px; top: #{$gutter}px; }
    }
  }
}