article.event
{
  @include rem-fallback(padding, 1.5, 0, (($baseline - 1) / $base_font_size), 8);
  border-bottom: 1px solid $light_grey;
  position: relative;
  &:last-of-type
  { 
    @include rem-fallback(margin-bottom, 1.5);
  }
  p.start_at
  {
    position: absolute;
    left: 0;
    @include rem-fallback(top, 1.75);
    background: $blue;
    color: $white;
    @include rounded;
    @include rem-fallback(font-size, 1);
    @include rem-fallback(padding, 0.5);
    font-family: $chevin_medium;
    text-align: center;
    width: 120px;
    min-height: 90px;
  }
}