
div.locator
{
  @include rem-fallback(padding-top, 3);
}

article.question
{
  @include rounded;
  border: 1px solid $mid_grey;
  @include rem-fallback(padding, 1.5);
  @include rem-fallback(margin-bottom, 1.5);
  @include rem-fallback( margin-bottom, (($baseline - 2) / $base_font_size));
  position: relative;
  overflow: auto;

  a.top-right
  {
    position: absolute;
    @include rem-fallback(right, 1);
    @include rem-fallback(top, 1);
  }

  dl
  {
    display: block;
    overflow: auto;
    @include rem-fallback(margin-bottom, 1.5);
    display: table;
    dt
    {
      float: left;
      width: 180px;
      text-align: right;
      clear: left;

      font-weight: bold;
      @include respond-to(handheld) { float: none; display: block; width: auto; text-align: left; }
    }
    dd
    {
      margin-left: 200px;
      @include respond-to(handheld) { margin-left: 0 };
    }

  }

  h3
  {
    @include respond-to(handheld) { @include rem-fallback(margin-top, 2); }
  }

  h5
  {
    @include rem-fallback(font-size, 1);
    font-weight: bold;
    font-family: $default_font;
  }

}
