article.search-result
{
  @include rem-fallback(padding-top, 1.5);
  @include rem-fallback(padding-bottom, (($baseline - 1) / $base_font_size));
  border-bottom: 1px solid $light_grey;
  cite
  {
    font-style: normal;
    color: $grey;
    @include rem-fallback(font-size, 0.75);
    @include rem-fallback(line-height, 0.75);
  }
  p
  {
    @include rem-fallback(font-size, 0.875);
    margin: 0;
  }
}