.items 
{
  width:100%;
  clear: both;
  overflow:hidden;
 
}

.item 
{
  display: block;
  float: left;
  position: relative;
  top: 0;
  padding: 0;
  @include rounded;
  width:100%;
  @include rem-fallback(margin-bottom, 1.5);
    &.short 
    {
      @include rem-fallback(min-height, 6)
    }
    &.medium 
    {
      @include rem-fallback(min-height, 12)
    }
    &.large 
    {
      @include rem-fallback(min-height, 24)
    }
    & .content {
      padding: 0.75rem;
    }
    &>.image 
    {
      display: block;
      position: relative;
      &> img
      {  
        display: block;
        width: 100%;
        @include rounded_top;
    }
  }
  &.blue, &.green, &.yellow, &.red {
    color: $white;
    a:link {
      text-decoration: underline;
    }
    & a:link, &:hover, &:active {
      color: $white;
      text-decoration: none;
    }
  }
  &.grey {
    @include grey_gradient;
  }
  &.blue {
    @include blue_gradient;
    border-bottom: 2px solid $dark_blue;
  }
  &.green {
    @include green_gradient;
    border-bottom: 2px solid $dark_green;
  }
  &.yellow {
    @include yellow_gradient;
    border-bottom: 2px solid $dark_yellow;
  }
  &.red {
    @include pink_gradient;
    border-bottom: 2px solid $pink;
  }
}


.two.items>.item 
{
  width: 49%;
  margin-left: 1%;
  margin-right: 1%;
}

.three.items>.item 
{
  width: 32%;
  margin-left: 1%;
  margin-right: 1%;
}

.four.items>.item 
{
  width: 23.5%;
  margin-left: 1%;
  margin-right: 1%;
}

.two.items>.item, .three.items>.item, .four.items>.item 
{
  &:first-child 
  {
    margin-left:0;
  } 
  &:last-child 
  {
    margin-right:0;
  } 
  @include respond-to(handheld) { width: 100%; margin-left:0px; margin-right:0px; }
}
