.circular 
{
  @include circular;
}

.circle-dashed {
  border: 2px dashed #60c659;
  height: 225px;
  width: 225px;
  border-radius: 225px;
  position: absolute;
  margin-top: 5px;
  margin-left: 45px;
  z-index: 100;
    @include respond-to(large_desktop) 
    {
    margin-left: 82px;
    }    @include respond-to(tablet) 
    {
    height: 225px;
    width: 225px;
    border-radius:225px;
    margin-top: 18px;
    margin-left: 8px;
    }
    @include respond-to(handheld) 
    {    
    display:none;
    }
}

html.lt-ie9 .circle-dashed {
  display: none;
}




//FAQs for participants

.faq-wrapper 
{
  margin-bottom: 3px;
  @include rem-fallback(margin-bottom, ($baseline - 2) / $base_font_size);
  border: 1px solid $light_grey;
  border-radius: $radius;
  .fa 
  {
  color: $mid_grey;
  @include rem-fallback(padding-right, 0.3125);
  }
  p:last-child 
  {
    margin-bottom:0;
  }
}

.toggler
{
  display: block;
  color: $link;
  cursor: pointer;
  @include rem-fallback(padding, 0.625);
  margin-bottom: 0;
  &.grey 
  {
  background: #fafafa;
  }
}

.panel-toggle
{
  display: none;
}

.toggler:hover
{
  text-decoration: underline;
}