h3.meta_links
{
  display: inline;
  @include rem-fallback(font-size, 0.8);
}

ul.meta_links
{
  @include respond-to(handheld) { display: none; }
  padding-left: 0;
  margin: 0;
  display: inline;
  li {
    color: $grey;
    @include rem-fallback(font-size, 0.80);
    list-style-type: none;
    display: inline;
    margin: 0 0 0 0.5em;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &:before {
      content: "#";
      }
    }
  }
}
