
nav.features
{
  [class*="span"] {
    @include respond-to(tablet) { float: none; width: auto; }
  }
  h3
  {
    @include font22;

    margin: 0 0 1em 0;
  }
  .box
  {
    min-height: 200px;
    @include respond-to(large_desktop) {  min-height: 200px; }
    @include respond-to(tablet) { min-height: 1px; margin-bottom: 1em; }
    @include respond-to(handheld) { min-height: 1px; }
  }
  img
  {
    float: left;
    @include rounded;
    margin-bottom: 1em;
    margin-right: 1.5em;
  }
  p
  {
    margin: 0;
  }
}

.sidebox
{
  @include rounded;
  background: $white;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  border: 1px solid $mid_grey;
  padding: 1em;
  position: relative;
  margin-top: 2em;
  h3
  {
    position: absolute;
    top: -1em;
    left: #{$gutter}px;
    padding: 0 0.25em;
    background: $white;
  }
}


.pad
{
  @include rem-fallback(padding, 0.75, 0.75);
}

.no-pad
{
  @include rem-fallback(padding, 0);
}

.pad-small
{
  @include rem-fallback(padding, 0.5);
}

.space
{
  @include rem-fallback(margin-bottom, 1.5);
}

.no-space
{
  @include rem-fallback(margin-bottom, 0);
}