.circular 
{
  @include circular;
}

.circle-dashed {
  border: 2px dashed #60c659;
  height: 225px;
  width: 225px;
  border-radius: 225px;
  position: absolute;
  margin-top: 5px;
  margin-left: 45px;
  z-index: 100;
    @include respond-to(large_desktop) 
    {
    margin-left: 82px;
    }
    @include respond-to(tablet) 
    {
    height: 225px;
    width: 225px;
    border-radius:225px;
    margin-top: 18px;
    margin-left: 8px;
    }
    @include respond-to(handheld) 
    {    
    display:none;
    }
}

html.lt-ie9 .circle-dashed {
  display: none;
}

.row.three .span1
{
  figure.featured 
  {
    position: relative;
    @include rem-fallback(margin-bottom, 0);
    padding: 0px;
    line-height: 0px;
    width: 100%;
    max-width: 100%;
    img 
    {
    width:100%; 
    }
    figcaption 
    {
      position: absolute;
      color: $black;
      @include rem-fallback(font-size, 1);
      @include rem-fallback(line-height, 1.5);
      @include respond-to(tablet) { @include rem-fallback(line-height, 1.2) };
      @include rem-fallback(padding, 0.5, 0); 
      @include translucent_white;
      margin: 0;
      bottom: 60px;
      @include rem-fallback(bottom, 0.5);
      left: 0px;
      right: 0px;
      @include rem-fallback(padding, 0.35);
      @include respond-to(tablet) { @include rem-fallback(min-height, 3) };
      .fa 
      {
        color: $red;
      }
      .content
      {
        @include rem-fallback(padding-right, 1.25);
        font-style: normal;
      }      
    }
  }
}


//FAQs for participants

.faq-wrapper 
{
  margin-bottom: 3px;
  @include rem-fallback(margin-bottom, ($baseline - 2) / $base_font_size);
  border: 1px solid $light_grey;
  border-radius: $radius;
  .fa 
  {
  color: $mid_grey;
  @include rem-fallback(padding-right, 0.3125);
  }
}

.faq-inner 
{
  @include rem-fallback(padding, 0.75);
  border-top: 1px solid #e5e5e5;
  .panel-toggle 
  { 
    @include rem-fallback(padding, 0, 0, 0.625, 1.25);
    p:last-child 
    {
      margin-bottom:0;
    }
  }
  .toggler 
  { 
    @include rem-fallback(padding, 0.3125, 0, 0.3125, 0);
  }
}

.toggler
{
  display: block;
  color: #005b9c;
  cursor: pointer;
  @include rem-fallback(padding, 0.625);
  margin-bottom: 0;
  &.grey 
  {
  background: #fafafa;
  }
}

.panel-toggle
{
  display: none;
}

.toggler:hover
{
  text-decoration: underline;
}