div#guide-top
{
  position: absolute;
  top: 3px;
  width: 100px;
  height: 10px;
  left:0;
}

h1.guide
{
  padding: 0.5em 0 0 0 ;
}

aside.g
{
  @include respond-to(handheld) { display: none; }
}
nav.guide
{
  width: #{($column_width * 5) + ($gutter * (5 - 1))}px;
  @include respond-to(tablet) { width: #{($tablet_column_width * 5) + ($gutter * (5 - 1))}px; }
  @include respond-to(large_desktop) { width: #{($large_desktop_column_width * 5) + ($gutter * (5 - 1))}px; }
  &.affix
  {
    top: 54px;
  }
  &.affix-bottom
  {
    position: absolute;
    bottom: 0px;
  }
  ul
  {
    padding-left: 0;
    margin: 0;
    li
    {
      list-style-type: none;
      background: $white;
      border-bottom: 1px solid $mid_grey;
      &.active
      {
        background: $light_grey;
      }
      a
      {
        font-family: $chevin_medium;
        text-decoration: none;
        display: block;
        @include font20;
        padding: 1em 0.5em;
        margin: 0;
        span
        {
          font-family: $default_font;
          color: $grey;
          font-size: 14px;
          display: block;
          text-transform: uppercase;
        }
        &:hover
        {
          background: $light_grey;
        }
      }
    }
  }
}




section.casestudy,
section.guide
{
  // margin-top: -#{$gutter}px;
  h2
  {
    &[id^='part']
    {
      clear: both;
      padding-top: 50px;
      border-bottom: 4px solid $blue;
      line-height: 28px;
    }
    span
    {
      color: $grey;
      display: block;
      font-size: 20px;
      line-height: normal;
      text-transform: uppercase;
    }
    &:first-of-type
    {
      border-top: none;
      margin-top: 0;
      // padding-top: 0em;
      margin-top: -50px;
    }
  }
}

h2.section
{
  @include rem-fallback(border-bottom, 0.25);
  border-top:0;
  border-left:0;
  border-right:0;
  border-style: solid;
  border-color: $blue;
  @include rem-fallback(margin-bottom, 1);
  @include rem-fallback(line-height, 1.75);
  span
  {
    color: $grey;
    display: block;
    font-size: 20px;
    line-height: normal;
    text-transform: uppercase;
  }
  &:first-of-type
  {
    margin-top: 0;
  }
}