figure.featured
{
  float: left;
  padding: 0 2em 1em 0;
  img
  {
    @include rounded;
  }

  figcaption
  {
    font-style: italic;
    max-width: 300px;
    @include font14;
    p
    {
      margin: 0em;
    }
  }
}



figure.pull-left
{
  margin-left: -#{($column_width * 4) + ($gutter * (4 + 1))}px;
  padding: 0 1em 0 0;
}


figure.regular
{
  img
  {
    @include rounded;
  }
  figcaption
  {
    font-style: italic;
    max-width: 300px;

  }
}





nav.topics_grid
{
  font-family: $chevin_light;
  @include font22;
}

nav.features
{
  [class*="span"] {
    @include respond-to(tablet) { float: none; width: auto; }
  }
  h3
  {
    @include font22;

    margin: 0 0 1em 0;
  }
  .box
  {
    min-height: 200px;
    @include respond-to(large_desktop) {  min-height: 200px; }
    @include respond-to(tablet) { min-height: 1px; margin-bottom: 1em; }
    @include respond-to(handheld) { min-height: 1px; }
  }
  img
  {
    float: left;
    @include rounded;
    margin-bottom: 1em;
    margin-right: 1.5em;
  }
  p
  {
    margin: 0;
  }
}

.sidebox
{
  @include rounded;
  background: $white;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  border: 1px solid $mid_grey;
  padding: 1em;
  position: relative;
  margin-top: 2em;
  h3
  {
    position: absolute;
    top: -1em;
    left: #{$gutter}px;
    padding: 0 0.25em;
    background: $white;
  }
}


.pad
{
  padding: #{$gutter / 2}px;
  padding: 1em;
}

.space
{
  margin-bottom: #{$gutter}px;
}



.box
{
  overflow: auto;
  @include rounded;
  @include respond-to(large_desktop) {  }
  h1,h2,h3,h4,h5
  {
    margin-top: 0;
  }
  h3
  {
    @include font20;
    margin-top: 0;
    margin-bottom: 0.25em;
  }
  h2
  {
    margin-bottom: 0em;
  }
  p.call-to-action
  {
    font-family: $chevin_light;
    font-style: normal;
    @include font18;
    margin-bottom: 0px;
  }
  ul
  {
    margin-top: 0em;
    padding-left: 2em;
    li
    {
      @include font18;
      margin: 0;
      font-family: $chevin_light;
      list-style-type: none;
    }
  }
}

.box.feature
{
  @include transparent($blue, 0.2);
  ul
  {
    padding-left: 0em;
    li
    {

      margin-bottom: #{$gutter}px;
      span
      {
        font-family: $default_font;
        @include font16;
        display: block;
      }
    }
  }
}
















