ul {
  list-style-item: disc;
}

ul, ol {
  @include rem-fallback(padding, 0, 0, 0, 2.5);
  @include rem-fallback(margin, 0, 0, 1.5, 0);
  //list-style-position: inside;
  &.inline {
    @include rem-fallback(padding, 0);
  }
 }

ul, ol, dl {
  @include rem-fallback(margin, 1.5, 0);
  &.inline
  {
    li
    {
      list-style-type: none;
      display: inline;
    }
  }
  &.comma-separated
  {
    li
    {
      &:not(:last-of-type):after
      {
        content: ", ";
      }
    }
  }
}

ul ul,
ol ol {
  @include rem-fallback(margin, 0, 0, 0, 0)
}

ul.block
{
  padding-left: 0;
  li
  {
    list-style-type: none;
    @include rem-fallback(margin-bottom, 1.5);
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    @include rem-fallback(margin, 0, 0, 0, 2);
  }
}   

ol.tag-list 
{
  li 
  {
    list-style-type: none;
    float: left;
    @include rem-fallback(margin, 0.2);
  }
}

nav ul, nav ol 
{
list-style: none;
list-style-image: none;
}

//legacy

ol.people {
  padding: 0;
  @include rem-fallback(margin, 0.25, 0);
  li 
  {
  list-style-type: none;
  display: inline;
    &:not(:last-of-type):after
    {
      content: ", ";
    }
  }
}
