ul {
  list-style-item: disc;
}

ul, ol {
  @include rem-fallback(padding, 0, 0, 0, 2.5);
  @include rem-fallback(margin, 0, 0, 1.5, 0);
  //list-style-position: inside;
  &.inline {
    @include rem-fallback(padding, 0);
  }
 }

ul, ol, dl {
  @include rem-fallback(margin, 1.5, 0);
  &.inline
  {
    li
    {
      list-style-type: none;
      display: inline;
      @include rem-fallback(margin-right, 1);
    }
    &.right 
    {
      li 
      {
        float: right;
        @include rem-fallback(margin-left, 1);
        @include respond-to(handheld) { float: none; margin-top: 0; margin-left: 0; }
      }
    }
  }
  &.comma-separated
  {
    
    li
    { 
      @include rem-fallback(margin-right, 0.25);
      
      &:not(:last-of-type):after
      {
        content: ", ";
      }
    }
  }
  &.small
  {
    @include rem-fallback(font-size, 0.875);
  }
}

ul ul,
ol ol {
  @include rem-fallback(margin, 0, 0, 0, 0)
}

ul.block
{
  padding-left: 0;
  li
  {
    list-style-type: none;
    @include rem-fallback(margin-bottom, 1.5);
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    @include rem-fallback(margin, 0, 0, 0, 2);
  }
}   

ol.tag-list 
{
  li 
  {
    list-style-type: none;
    float: left;
    @include rem-fallback(margin, 0.2);
  }
}

nav ul, nav ol 
{
list-style: none;
list-style-image: none;
}


ul.meta_links
{
  padding-left: 0;
  margin: 0;
  display: inline;
  @include respond-to(handheld) { display: none; }


  li 
  {
    color: $grey;
    @include rem-fallback(font-size, 0.80);
    list-style-type: none;
    display: inline;
    @include rem-fallback(margin, 0, 0, 0 , 0.5);

    a 
    {
      text-decoration: none;
      
      &:hover 
      {
        text-decoration: underline;
      }

      &:before 
      {
      content: "#";
      }
    }
  }
}





