.grey_gradient
{
  @include light_grey_gradient;
  a:link, a:visited, a:active
  {
    &:hover
    {
      text-decoration: underline;
    }
  }
}

.blue_gradient
{
  @include blue_gradient;
}

.yellow_gradient
{
  @include yellow_gradient;
}

.green_gradient
{
  @include green_gradient;
}

.pink_gradient
{
  @include pink_gradient;
}

.blue_gradient, .green_gradient, .pink_gradient, .yellow_gradient
{
  color: $white;
  a:link, a:visited, a:active
  {
    color: $white;
    &:hover
    {
      color: $white;
      text-decoration: underline;
    }
  }
}