nav.menu 
{
  
  &.vertical 
  {
    @include light_grey_gradient;
    @include rounded;
    border: 1px solid $light_grey;
    @include rem-fallback(margin-bottom, (($baseline - 2) / $base_font_size));
    
    h4 
    {
      border-bottom: 2px solid $light_grey;
      @include rem-fallback(font-size, 1.125);
      margin: 0 0 0.25em 0;
    }    
    
    ul
    {
      padding-left: 0;
      margin: 0;
      
      li 
      { 
      @include rem-fallback(line-height, ((($baseline * 2) - 1) / $base_font_size));
      border-bottom: 1px solid $light_grey;
        
        a 
        {
          @include rem-fallback(padding-left, 1);
          display: block;
          text-decoration: none;
          
          &:hover 
          {
            background: $white;
            text-decoration: underline;
          }

          &.active 
          {
            background: $white;
          }

          span 
          {
            @include rem-fallback(font-size, 0.875);
          }
        }
      }

      li:first-of-type a 
      {
        &:hover, &.active 
        {
          @include rounded_top;
        }
      }

      li:last-of-type 
      {
        border-bottom: 0px;
        @include rem-fallback(line-height, 3);
        
        a 
        {
          &:hover, &.active  
          {
            @include rounded_bottom;
          }
        }
      }
    }
  }

  &.horizontal 
  {
    @include blue_gradient;
    @include rounded;
    border: 1px solid $grey;
    overflow: auto;
    @include rem-fallback(margin-bottom, (($baseline / 4 * 5 ) / $base_font_size));
    
    ul
    {
      padding: 0;
      margin: 0;
      
      li
      {
        margin: 0;
        float: left;
        border-right: 1px solid $grey;
        @include rem-fallback(line-height, 2.5);
        @include respond-to(handheld) { float: none; }
        
        a
        {
          color: $white;
          @include respond-to(tablet) {  padding: 0.25em 0.5em; }
          text-decoration: none;
          -webkit-transition: none;
          -webkit-transition: none;
          
          &:hover, &.active
          {
            color: $black;
            @include mid_grey_gradient;
          }
        }
      }
    }
  }
}

nav.menu 
{
  &.horizontal, &.vertical 
  {
  font-family: $chevin_medium;
  @include rem-fallback(font-size, 1.125); //18px
  @include respond-to(tablet) { @include rem-fallback(font-size, 1); } // 16px
  @include respond-to(handheld) { @include rem-fallback(font-size, 0.875); } // 14px
  }
}

nav.menu.horizontal ul li a, nav.menu.vertical ul li a 
{
  @include rem-fallback(padding, 0, 1);
  display: block;
  text-decoration: none;
}

nav.guide
{
  width: #{($column_width * 5) + ($gutter * (5 - 1))}px;
  @include respond-to(tablet) { width: #{($tablet_column_width * 5) + ($gutter * (5 - 1))}px; }
  @include respond-to(large_desktop) { width: #{($large_desktop_column_width * 5) + ($gutter * (5 - 1))}px; }

  ul
  {
    
    li
    { 
      border-bottom: 1px solid $mid_grey;
      
      &.active
      {
        background: $light_grey;
      }
      
      a
      {
        font-family: $chevin_medium;
        text-decoration: none;
        display: block;
        @include rem-fallback(font-size, 1.25);
        @include rem-fallback(padding, 1.5, 0.5);
        margin: 0;
        
        span
        {
          font-family: $default_font;
          color: $grey;
          @include rem-fallback(font-size, 0.875);
          display: block;
          text-transform: uppercase;
        }

        &:hover
        {
          background: $light_grey;
        }
      }
    }
  }
}


nav 
{
  &.guide, &.menu
  {
    
    &.affix
    {
      top: 54px;
    }
  
    &.affix-bottom
    {
      position: absolute;
      bottom: 0px;
    }
  }
}




.lt-ie9 nav.menu
{
  ul
  {
    li
    {
      @include rem-fallback(font-size, 1.125);
      font-family: $default_font;
      a
      {
        padding: 0.25em 1em;
      }
    }
  }
}

nav.topics
{
  ul
  {
    @include rem-fallback(padding-left, 0.5);
    li
    {
      font-family: $chevin_light;
    }
    p
    {
      margin: 0;
    }
  }
}

a#going-up
{
  display: block;
  display: none;
  width: 60px;
  height: 60px;
  background: transparent url(asset_path('top-btn.png')) no-repeat 0 0;
  text-indent: -3000em;
  overflow: hidden;
  margin-left: 80px;
  margin-top: #{$gutter * 5}px;
  @include rounded;
  &:hover
  {
    -moz-box-shadow:    0px 0px 6px 0px $grey;
    -webkit-box-shadow: 0px 0px 6px 0px $grey;
    box-shadow:         0px 0px 6px 0px $grey;
  }
}