//homepage navigation (4 boxes)
.home-nav
{
  font-family: $chevin_light;
  @include rem-fallback(line-height, 1);
  h2  
  {
    font-weight: normal;
    font-style: normal;
    font-weight: 100;
    margin: #{$gutter}px 0 0 0;
    @include rem-fallback(line-height, 1);
    padding: 0 #{$gutter}px;
    @include rem-fallback(font-size, 1.25);
    margin: 0; 
    @include respond-to(large_desktop) { @include rem-fallback(font-size, 1.5); }
    @include respond-to(handheld) { @include rem-fallback(font-size, 1.25); padding: 0; }
    a 
    {
    color: $white;
      &:hover 
      {
        color: $white;
        text-decoration: underline;
      }
    }
  }
  article 
  {
    position: relative;
    color: $white;
    @include rounded;
    @include rem-fallback(height, 7.5);
      @include respond-to(tablet) {  @include rem-fallback(height, 8.5); }
      @include respond-to(handheld) { margin-bottom: #{$gutter / 2}px; height: auto; padding: 0.5em; }
    h2 
    {
      margin-top: #{$gutter / 2}px;
      margin-bottom: 0;
    }
    ol 
    {
      clear: left;
      margin-top: #{$gutter / 2}px;
      margin-right: 50px;
      padding: 0 #{$gutter}px;
      @include respond-to(handheld) { padding: 0; display: block; }
      li 
      {
        @include rem-fallback(font-size, 1.125);
        margin: 0;
        @include rem-fallback(line-height, 1.375); 
        list-style-type: none;
        display: inline;
        @include respond-to(tablet) {  @include rem-fallback(font-size, 1.125); }
        &:not(:last-of-type):after 
        {
          content: ", ";
        }
        &.newline 
        {
          display: block;
        }
        a 
        {
          color: $white;
          text-decoration: none;
          &:hover 
          {
            color: $white;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .key-features, .research, .participants, .data 
  {
    i.fa-2x 
    {
      @include rem-fallback(font-size, 2)
    }
    i.icon 
    {
      position: absolute;
      bottom: 5px;
      right:5px;
      @include rem-fallback(right, 1);
      @include rem-fallback(bottom, 1);
      display: block;
      @include opacity(0.8);
    }
    i.icon2 
    {
      position: absolute;
      right:40px;
    }
  }
  .key-features  
  {
    @include pink_gradient;
  }
  .research  
  {
    @include green_gradient;
  }
  .participants  
  {
    @include yellow_gradient;
  }
  .data 
  {
    @include blue_gradient;
  }
  html.lt-ie8 .research, html.lt-ie8 .participants, html.lt-ie8 .key-features, html.lt-ie8 .about, html.lt-ie8 .data 
  {
    background: none;
  }
}