.panel 
{
  display: block;
  position: relative;
  top: 0;
  @include rem-fallback(padding, 0.75);
  overflow: auto;
  @include rounded;
  @include grey_gradient;
  width:100%;
  & p:last-of-type {
    margin-bottom:0px;
  }

  & img
    {  
      display: block;
      @include rounded_top;
    }

  .fa 
  {
    @include rem-fallback(font-size, 1.5);
  }

  .fa-2x 
  {
    @include rem-fallback(font-size, 2);
  }

  .fa, .fa-2x
  {
    &.opaque {
    @include opacity(0.8);
    }
  }
  
  &.tiny 
    {
      @include rem-fallback(min-height, 6);
      @include respond-to(large_desktop) { @include rem-fallback(min-height, 4.5) };
      @include respond-to(handheld) { @include rem-fallback(min-height, 4.5) };
    }
    &.small 
    {
      @include rem-fallback(min-height, 7.5);
      @include respond-to(tablet) { @include rem-fallback(min-height, 10.5) };
      @include respond-to(large_desktop) { @include rem-fallback(min-height, 7.5) };
      @include respond-to(handheld) { @include rem-fallback(min-height, 4.5); @include rem-fallback(margin-bottom, 1.5) };
    }

    &.medium 
    {
      @include rem-fallback(min-height, 12);
      @include respond-to(tablet) { @include rem-fallback(min-height, 15) };
      @include respond-to(handheld) { @include rem-fallback(min-height, 9) };
    }

    &.large 
    {
      @include rem-fallback(min-height, 17.5);
      @include respond-to(tablet) { @include rem-fallback(min-height, 20.5) };
      @include respond-to(handheld) { @include rem-fallback(min-height, 15) };
    }

    &.massive 
    {
      @include rem-fallback(min-height, 22);
      @include respond-to(large_desktop) { @include rem-fallback(min-height, 23) };
      @include respond-to(handheld) { @include rem-fallback(min-height, 0) };

    }

    & .content 
    {
      @include rem-fallback(padding, 1);
    }

    & .pad-small 
    {
      @include rem-fallback(padding, 0.5);
    }

    blockquote 
    {
      @include rem-fallback(margin, 0, 0, 0.5)
    }

    h1,h2,h3,h4,h5
    {
      margin-top: 0;
    }

    h2 
    {
      @include rem-fallback(font-size, (20 / $base_font_size));
      @include rem-fallback(line-height, 1.75);
      @include rem-fallback(margin-bottom, 1);
    }

    h3 
    {
      @include rem-fallback(font-size, 1.25);
      @include rem-fallback(margin-bottom, 0.25);

      span 
      {
        @include rem-fallback(font-size, 1);
      }
    }

    p.call-to-action
    {
      font-family: $chevin_light;
      font-style: normal;
      @include rem-fallback(font-size, 1.125);
      margin-bottom: 0px;
    }

    &.right 
    {
      float:right;
      @include rem-fallback(margin-left, 1);
      @include respond-to(handheld) { @include rem-fallback(margin-left, 0); };
    }

    &.half 
    {
      width: 50%;
      @include respond-to(handheld) { width: auto; };
    }

    &>.image 
    {
      display: block;
      position: relative;
      &> img
      {  
        display: block;
        width: 100%;
        @include rounded_top;
    }
  }

  &.green, &.blue, &.yellow, &.red 
  {
    color: $white;

    a:link, a:visited
    {
      text-decoration: none;
      color: $white;
    } 

    a:hover
    {
      color: $white;
      text-decoration: none;
    }
  }

  &.blue 
  {
    @include blue_gradient;
    border-bottom: 2px solid $dark_blue;
  }

  &.lightblue 
  {
    background: $white;
    @include transparent($blue, 0.2);
    border: 0px;
  }

  &.green 
  {
    @include green_gradient;
    border-bottom: 2px solid $dark_green;
  }

  &.yellow 
  {
    @include yellow_gradient;
    border-bottom: 2px solid $dark_yellow;
  }

  &.red 
  {
    @include pink_gradient;
    border-bottom: 2px solid $dark_pink;
  }
}


#about-nav, #research-nav, #participants-nav, #data-nav 
{
  
  .panel 
  {
    @include rem-fallback(margin-bottom, 0);
    @include respond-to(handheld) { @include rem-fallback(margin-bottom, 0.75); }
  }
  
  i.fa-2x 
  {
    @include rem-fallback(font-size, 1.75);
    @include respond-to(large_desktop) { @include rem-fallback(font-size, 2); }
  }

  i.icon 
  {
    position: absolute;
    bottom: 5px;
    right:5px;
    @include rem-fallback(right, 1);
    @include rem-fallback(bottom, 1);
    display: block;
    @include opacity(0.8);
  }

  i.icon2 
  {
    position: absolute;
    right:40px;
  }
}

.span1 .panel img {
   @include respond-to(handheld) { width:740px; }
}
