.pagination
{
  @include rem-fallback(margin, 0.75, 0);

  a
  {
    @include btn;
    text-decoration: none;
    @include rem-fallback(margin-right, 0.25);
    &:hover
    {
      background: $mid_grey;
    }
  }

  em
  {
    @include btn;
    background: $mid_grey;
    border-color: #bbb;
    @include rem-fallback(margin-right, 0.5);
    font-style: normal;
  }
  
  span
  {
    @include rem-fallback(margin-right, 0.25);
  }
}


.badge {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  padding: 5px 3px 3px 3px;
  @include rem-fallback(font-size, (14 / $base_font_size));
  font-weight: bold;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: $mid_grey;
  border-radius: 30%;
}

#map-container {
  position: relative;
  .legend {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    margin-right: 10px;
    margin-top: 10px;
    @include rem-fallback(padding, (20 / $base_font_size));
    background: white;
    @include respond-to(handheld) { 
      bottom: 0;
      left: 0;
      width: 96%;
      top: auto !important;
      margin: 2%;
      overflow: visible;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    label {
      cursor: pointer;
    }
    .fa-map-marker {
      @include rem-fallback(font-size, (24 / $base_font_size));
      padding-right: 10px;
    }
    .red-marker {
      color: #FC6355;
    }
    .green-marker {
      color: #00DF3C;
    }
    .blue-marker {
      color: #4270F8;
    }
    .yellow-marker {
      color: #F6F053;
    }
    .purple-marker {
      color: #7C55FC;
    }
  }

}

.social-toolbar {
  position: relative;
  @include rem-fallback(margin-bottom, 1.5);
  @include rem-fallback(margin-top, 0);
  @include rem-fallback(min-height, (32 / $base_font_size));

  ul {
    list-style-type: none;
    padding: 0em;
    margin: 0;
    li {
      float: left;
      @include rem-fallback(margin, 0, 0.35, 0, 0);
      @include rem-fallback(font-size, 1);

        a:link, a:visited {
          &.twitter-share {
            color: #03b3ee;
          }
          &.facebook-share {
            color: #005689;
          }
          &.instagram-share {
            color: #457AA6;
          }
          &.email-share {
            color: #767676;
          }
        }
        a:hover {
          &.twitter-share {
            color: #64D7FD;
          }
          &.facebook-share {
            color: #047CC4;
          }
          &.instagram-share {
            color: #5C9BCF;
          }
          &.email-share {
            color: #B1AEAE;
          }
        }
     
      
    }
  }
}


.pager {
  padding-left: 0;
  @include rem-fallback(margin, 1.5, 0);
  text-align: center;
  list-style: none;
  li {
    display: inline;
  }
  li > a {
  display: inline-block;
    padding: 5px 14px;
    border: 1px solid $mid_grey;
    border-radius: 15px;
    &:focus, &:hover {
      text-decoration: none;
      background-color: $light_grey;
    }
  }
  .previous > a {
    float: left;
  }
  .next > a {
    float: right;
  }

}


.champion {
  @include rem-fallback(margin, 1.5, 0);
  img {
  width: 50px;
  position: absolute;
  }
  p {
    position: relative;
    padding-left: 60px;
    @include rem-fallback(min-height, 3);
  }
}

.excerpt_with_image {
  overflow:auto;

  img {
    @include rem-fallback(margin-left, 1.5);
    @include rem-fallback(margin-bottom, 1.5);
    width: 100px;
    @include respond-to(handheld) { 
      width: auto;
      width: 80px;
      }
  }
}
