.pagination
{
  @include rem-fallback(margin, 0.75, 0);

  a
  {
    @include btn;
    text-decoration: none;
    @include rem-fallback(margin-right, 0.25);
    &:hover
    {
      background: $mid_grey;
    }
  }

  em
  {
    @include btn;
    background: $mid_grey;
    border-color: #bbb;
    @include rem-fallback(margin-right, 0.5);
    font-style: normal;
  }
  
  span
  {
    @include rem-fallback(margin-right, 0.25);
  }
}