.pagination
{
  @include rem-fallback(margin, 0.75, 0);

  a
  {
    @include btn;
    text-decoration: none;
    @include rem-fallback(margin-right, 0.25);
    &:hover
    {
      background: $mid_grey;
    }
  }

  em
  {
    @include btn;
    background: $mid_grey;
    border-color: #bbb;
    @include rem-fallback(margin-right, 0.5);
    font-style: normal;
  }
  
  span
  {
    @include rem-fallback(margin-right, 0.25);
  }
}


.event-widget {
  article {
    position: relative;
    border-bottom: 1px solid $light_grey;
    @include rem-fallback(padding, (($base_font_size - 1) / $base_font_size), 0, 1, (40 / $base_font_size));
    min-height: 80px;
    &:last-of-type {
      border-bottom: 0;
    }
    @include respond-to(tablet) {
      @include rem-fallback(padding-left, (32 / $base_font_size));
    }
    time {
      position: absolute;
      @include rem-fallback(top, 1);
      left: 0;
      @include rem-fallback(padding, 0);
      text-align:center;
      border-radius:5px;
      p.day {
        @include rem-fallback(font-size, (20 / $base_font_size));
      }      
      p.month {
        @include rem-fallback(font-size, (14 / $base_font_size));
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

.badge {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  padding: 5px 3px 3px 3px;
  @include rem-fallback(font-size, (14 / $base_font_size));
  font-weight: bold;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: $mid_grey;
  border-radius: 30%;
}

#map-container {
  position: relative;
  .legend {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    margin-right: 10px;
    margin-top: 10px;
    @include rem-fallback(padding, (20 / $base_font_size));
    background: white;
    @include respond-to(handheld) { position: relative; }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    label {
      cursor: pointer;
    }
    .fa-map-marker {
      @include rem-fallback(font-size, (24 / $base_font_size));
      padding-right: 10px;
    }
    .red-marker {
      color: #FC6355;
    }
    .green-marker {
      color: #00DF3C;
    }
    .blue-marker {
      color: #4270F8;
    }
    .yellow-marker {
      color: #F6F053;
    }
    .purple-marker {
      color: #7C55FC;
    }
  }

}


