@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    body
    {
        line-height: 100%;
    }


    p.subheading, p, li, blockquote
    {
        font-size: 10pt;
    }

    h1, h2, h3, h4, h5
    {
        font-size: 14pt;
    }

    ol.breadcrumb, header#top, nav.guide, footer, p.control, nav.related
    {
        display: none;
    }

    .callout
    {
        background: transparent;
        border: none;
    }


    .container
    {
      position: relative;
      margin: 0 auto;
      width: auto; 
      padding: #{$gutter / 2}px; 
    }

    [class*="span"] {
      min-height: 1px;
      margin-left: 0px;
      float: none;
    }

    .row 
    {
       margin-left: 0px; 
       margin-top: 0px; 
    }
}
