.tab-panel:not(:first-child)
{
  display: none;
}


ul.tab-nav
{
  border-bottom: 1px solid $mid_grey;
  overflow: visible;
  @include rem-fallback(margin, 1.5, 0, ($baseline - 1) / $base_font_size);
  padding-left: 0px;
  li
  {
    display: inline-block;
    list-style-type: none;
    @include rem-fallback(margin-right, 0.5);
    @include rem-fallback(line-height, (($baseline * 2 - 2) / $base_font_size));
    @include respond-to(handheld) { margin: 0 0px 0 0; };
    a
    {
      display: block;
      @include light_grey_gradient;
      border: 1px solid $mid_grey;
      @include rem-fallback(padding, 0, ($baseline / 2) / $base_font_size);
      position: relative;
      top: 1px;
      z-index: 2;
      outline: none;
      text-decoration: none;
      @include rounded_top;
      @include respond-to(handheld) { @include rem-fallback(font-size, 0.875); }
      span
      {
        @include rem-fallback(font-size, 0.75);
        font-style: italic;
        @include respond-to(handheld) { display: none };
      }
      &:active
      {
        outline: none;
      }
      &.active
      {
        background: $white;
        border-bottom: 1px solid $white;
        color: $black;
      }
    }
  }
}

html.lt-ie8 ul.tab-nav
{
  li
  {
    a
    {
      background: none;
    }
  }
}
