@import "_grid.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "fonts";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

@import "normalize.scss";

html{
  font-family: $body_font;
  font-weight: normal;
  font-size: $base_font_size;
  color: $black;
  @include rem-fallback(line-height, 1.5);
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  &.grid {
    background: image-url("grid.png") center 0px repeat transparent;
   }
 }

html,
button,
input,
select,
textarea 
{
  color: $black;
}

body
{
  margin: 0;
  padding: 0;
  font-family: $default_font;
  @include respond-to(handheld) {  font-family: $chevin_light; }
}


//library
@import "accessibility.scss";
@import "banners.scss";
@import "breadcrumb.scss";
@import "buttons.scss";
@import "elements.scss";
@import "featured_list.scss";
@import "forms.scss";
@import "footer.scss";
@import "header.scss";
@import "ie";
@import "images.scss";
@import "index_documentation.scss";
@import "index_event.scss";
@import "index_posts.scss";
@import "index_publications.scss";
@import "index_search.scss";
@import "layout.scss";
@import "legacy.scss";
@import "lists.scss";
@import "loader.scss";
@import "main.scss";
@import "messages.scss";
@import "navigation.scss";
@import "panels.scss";
@import "panels.scss";
@import "print.scss";
@import "tables.scss";
@import "tabs.scss";
@import "patterns";

//legacy
@import "legacy_accordian.scss";
@import "legacy_accordian.scss";
@import "legacy_audio.scss";
@import "legacy_main.scss";
@import "legacy_navigation.scss";
@import "legacy_twitter.scss";

//3rd party
@import "font-awesome";




